In [754]:
from pathlib import Path
from combined import run_fa, run_match_words, combine_df
import os
from match import normalize_word
import pandas as pd
from tqdm import tqdm
from machine.tokenization import LatinWordTokenizer
from typing import Iterable, Tuple, List
import re
tqdm.pandas()
from collections import Counter

pd.set_option('display.max_rows', 500)

In [755]:
model_df = pd.read_csv('pfs/out/en-NIV84_hbo-MaculaHebTok_combined/en-NIV84_hbo-MaculaHebTok_combined.csv')
# reverse_model_df = pd.read_csv('pfs/out/hbo-MaculaHebTok_en-NIV84_combined/hbo-MaculaHebTok_en-NIV84_combined.csv')
bible_df = pd.read_parquet('../../../../new2old/data/bible_words.parquet')
all_df = pd.read_csv('pfs/out/en-NIV84_hbo-MaculaHebTok_align/in_context.csv')

In [756]:
vref_file = 'pfs/ref_data/vref.txt'
with open(vref_file) as f:
    vref_data = f.readlines()

In [757]:
def text_to_words(text: str) -> List[str]:
    """
    Inputs:
        text:   Normally a sentence, or Bible verse
    Outputs:
        A list of words, where the sentence has had its punctuation removed, and words splits into a list of words
    """
    # word_list = re.sub("[^\w\s]", "", text.lower()).split()
    # word_list = text.lower().replace('.', '').replace(',', '').replace('?', '').replace('!', '').split()
    word_tokenizer = LatinWordTokenizer()
    word_list = [normalize_word(word) for word in word_tokenizer.tokenize(text)]
    return word_list


def vref_to_df(file):
    with open(file, 'r') as f:
        bible_data = f.readlines()
    words = [text_to_words(line) for line in bible_data]
    normalized_words = [[normalize_word(word) if word else '' for word in word_list] if word_list else [] for word_list in words]
    df = pd.DataFrame({'text': bible_data, 'words': words, 'normalized_words': normalized_words})
    df = df[df['text'].apply(lambda x: len(x) > 2)]
    df = df[df['text'] != "b'\n'"]
    return df

In [758]:
NIV84_df = vref_to_df('pfs/text_data/en-NIV84.txt')

In [759]:
gold_data = pd.read_parquet('../../../../new2old/data/gold_translation_data.parquet')

In [760]:
model_df.loc[:, 'total_score'] = model_df.apply(lambda row: row['word score'] + 5 * row['jac_sim'], axis=1)

In [761]:
domains = ['003001001', '003001002','003001004','003001006', '003001007','003001008','003001009','003001010', '003001012' ,'003001013' , '003001014', '003001015' , '003001017']
names_df = bible_df[bible_df['domain_codes'].apply(lambda x: len(set(domains).intersection(set(x))) > 0)]
names_df.loc[:, 'english'] = names_df['english'].apply(lambda x: x.lower() if x is not None else x)
# print(names)
english_names = names_df['english'].unique()
english_names = [name.lower() for name in english_names if name is not None]
hebrew_names = names_df['text'].unique()
hebrew_names = [name.lower() for name in hebrew_names if name is not None]

/tmp/ipykernel_259064/892064452.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  names_df.loc[:, 'english'] = names_df['english'].apply(lambda x: x.lower() if x is not None else x)

In [762]:
hebrew_matched_names = list(set(hebrew_names).intersection(df[df['jac_sim'] > 0]['target'].unique()))
english_matched_names = list(set(english_names).intersection(df[df['jac_sim'] > 0]['source'].unique()))

In [763]:
print(len(hebrew_names))
print(len(hebrew_matched_names))
print(len(english_names))
print(len(english_matched_names))

9744
7797
2649
2155

In [764]:
names = names_df[names_df['text'].apply(lambda x: x in hebrew_names)]
# print(names_df.iloc[:, :14][names_df['english'].apply(lambda x: x in english_matched_names)])

In [765]:
names = names[gold_data['NIV84'].apply(lambda x: x is not None)]

/tmp/ipykernel_259064/1840373318.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  names = names[gold_data['NIV84'].apply(lambda x: x is not None)]

In [766]:
def get_best_match_id(word, candidate_df):
    if candidate_df[candidate_df.apply(lambda x: x['normalized_source'] in list(candidate_words), axis=1)].shape[0] > 0:
        return candidate_df[candidate_df.apply(lambda x: x['normalized_source'] in list(candidate_words), axis=1)]['total_score'].idxmax()
    else:
        return None

In [767]:
max_rows = -1
counter = Counter()
for index, row in names.iloc[:max_rows, :].iterrows():
    hebrew_source = row['text']
    hebrew_source_normalized = normalize_word(hebrew_source)    
    book = row['book']
    chapter = row['chapter']
    verse = row['verse']
#     word = row['word']
#     subword = row['subword']
    ref = f'{book} {chapter}:{verse}\n'
    vref_index = vref_data.index(ref)
#     print(ref)
#     print(vref_index)
#     candidate_words = set(gold_data[(gold_data['book'] == book) & (gold_data['chapter'] == chapter) & (gold_data['verse'] == verse)]['NIV84'])
#     candidate_words = [word.lower() for word in candidate_words if word is not None]
    candidate_words = set(NIV84_df.loc[vref_index, 'words'])  if vref_index in NIV84_df.index else set([])
    candidate_words = [word.lower().split("")[0] for word in candidate_words if word is not None]

    candidate_df = model_df[model_df['normalized_target'] == hebrew_source_normalized]
#     reverse_candidate_df = reverse_model_df[reverse_model_df['normalized_source'] == hebrew_source_normalized]
    
    pred_index = get_best_match_id(hebrew_source_normalized, candidate_df)
#     reverse_pred_index = get_best_match_id(hebrew_source_normalized, reverse_candidate_df)
#     score = -100
#     reverse_score = -100
#     pred = None
#     reverse_pred = None
    
    if pred_index:
        score = candidate_df.loc[pred_index, 'total_score']
        pred = candidate_df.loc[pred_index, 'source']
        
#     if reverse_pred_index:
#         reverse_score = reverse_candidate_df.loc[reverse_pred_index, 'total_score']
#         reverse_pred = reverse_candidate_df.loc[reverse_pred_index, 'target']
    
#     if score >= reverse_score:
#         overall_pred = pred
#     else:
#         overall_pred = reverse_pred
    

    #     actual = row['english']
    actual = gold_data.loc[index, ['NIV84']].values[0] if index in gold_data.index else None
    actual = actual.lower() if actual else ''
    if len(actual.split()) > 1:
        counter['multiple words'] += 1
    elif pred == None:
        counter['no prediction'] += 1
    else:
        correct = pred == actual or pred == actual.split("")[0] or actual == pred.split("")[0] 
        counter.update([correct]) 

    if not correct:
        print(index)
        print(f"actual: {actual}   pred: {pred}")
#         print(candidate_df)
        print(counter)

1591
actual: adam   pred: of
Counter({True: 30, False: 1})
1682
actual: adam   pred: of
Counter({True: 32, False: 2})
2231
actual: adam   pred: in
Counter({True: 91, False: 3})
2281
actual: adam   pred: man
Counter({True: 97, False: 4})
2314
actual: adam   pred: in
Counter({True: 97, False: 5})
2777
actual: shem   pred: the
Counter({True: 144, False: 6})
3519
actual: shem   pred: the
Counter({True: 171, False: 7})
4687
actual: shem   pred: the
Counter({True: 190, False: 8})
4750
actual: shem   pred: in
Counter({True: 198, False: 9})
4813
actual: shem   pred: the
Counter({True: 202, False: 10})
4828
actual: shem   pred: in
Counter({True: 204, False: 11})
4865
actual: shem   pred: the
Counter({True: 208, False: 12})
4883
actual: madai   pred: gomer
Counter({True: 213, False: 13})
4935
actual: put   pred: mizraim
Counter({True: 229, False: 14})
4995
actual: akkad   pred: erech
Counter({True: 244, False: 15})
5036
actual: ludites   pred: mizraim
Counter({True: 253, False: 16})
5039
actual: anamites   pred: ludites
Counter({True: 253, False: 17})
5042
actual: lehabites   pred: anamites
Counter({True: 253, False: 18})
5048
actual: pathrusites   pred: casluhites
Counter({True: 254, False: 19})
5101
actual: zemarites   pred: hamathites
Counter({True: 267, False: 20})
5116
actual: canaan   pred: the
Counter({True: 269, False: 21})
5132
actual: admah   pred: zeboiim
Counter({True: 274, False: 22})
5134
actual: zeboiim   pred: lasha
Counter({True: 274, False: 23})
5154
actual: shem   pred: the
Counter({True: 276, False: 24})
5167
actual: shem   pred: the
Counter({True: 277, False: 25})
5223
actual: almodad   pred: joktan
Counter({True: 293, False: 26})
5226
actual: sheleph   pred: almodad
Counter({True: 293, False: 27})
5229
actual: hazarmaveth   pred: sheleph
Counter({True: 293, False: 28})
5253
actual: ophir   pred: havilah
Counter({True: 300, False: 29})
5272
actual: sephar   pred: the
Counter({True: 304, False: 30})
5279
actual: shem   pred: in
Counter({True: 304, False: 31})
5483
actual: babel   pred: of
Counter({True: 309, False: 32})
5505
actual: shem   pred: the
Counter({True: 311, False: 33})
5506
actual: shem   pred: the
Counter({True: 311, False: 34})
5520
actual: shem   pred: the
Counter({True: 312, False: 35})
6177
actual: egyptians   pred: egypt
Counter({True: 404, False: 36, 'multiple words': 1})
6717
actual: shinab   pred: gomorrah
Counter({True: 468, False: 37, 'multiple words': 2})
6719
actual: admah   pred: zeboiim
Counter({True: 468, False: 38, 'multiple words': 2})
6721
actual: shemeber   pred: zeboiim
Counter({True: 468, False: 39, 'multiple words': 2})
6776
actual: ham   pred: out
Counter({True: 476, False: 40, 'multiple words': 2})
6834
actual: admah   pred: zeboiim
Counter({True: 486, False: 41, 'multiple words': 2})
6943
actual: trees   pred: mamre
Counter({True: 508, False: 42, 'multiple words': 2})
7131
actual: god   pred: to
Counter({True: 530, False: 43, 'multiple words': 2})
7211
actual: lord   pred: sovereign
Counter({True: 538, False: 44, 'multiple words': 2})
7213
actual: sovereign   pred: lord
Counter({True: 538, False: 45, 'multiple words': 2})
7337
actual: lord   pred: sovereign
Counter({True: 546, False: 46, 'multiple words': 2})
7339
actual: sovereign   pred: lord
Counter({True: 546, False: 47, 'multiple words': 2})
7552
actual: kenizzites   pred: kenites
Counter({True: 556, False: 48, 'multiple words': 2})
7597
actual: egyptian   pred: hagar
Counter({True: 565, False: 49, 'multiple words': 2})
7637
actual: egyptian   pred: hagar
Counter({True: 573, False: 50, 'multiple words': 2})
7863
actual: god   pred: to
Counter({True: 590, False: 51, 'multiple words': 2})
7939
actual: god   pred: to
Counter({True: 601, False: 52, 'multiple words': 2})
9182
actual: them   pred: sodom
Counter({True: 672, False: 53, 'multiple words': 3})
9318
actual: friends   pred: my
Counter({True: 675, False: 54, 'multiple words': 3})
10066
actual: moabites   pred: moab
Counter({True: 703, False: 55, 'multiple words': 3})
10652
actual: egyptian   pred: hagar
Counter({True: 754, False: 56, 'multiple words': 3})
11698
actual: pildash   pred: jidlaph
Counter({True: 827, False: 57, 'multiple words': 3})
11937
actual: hittite   pred: hittites
Counter({True: 854, False: 58, 'multiple words': 3})
13732
actual: hanoch   pred: abida
Counter({True: 962, False: 59, 'multiple words': 3})
13734
actual: abida   pred: eldaah
Counter({True: 962, False: 60, 'multiple words': 3})
13881
actual: egyptian   pred: hagar
Counter({True: 985, False: 61, 'multiple words': 3})
13974
actual: asshur   pred: to
Counter({True: 1005, False: 62, 'multiple words': 3})
14837
actual: ahuzzath   pred: the
Counter({True: 1091, False: 63, 'multiple words': 4})
14980
actual: shibah   pred: the
Counter({True: 1097, False: 64, 'multiple words': 4})
15003
actual: judith   pred: beeri
Counter({True: 1099, False: 65, 'multiple words': 4})
16092
actual: canaanite   pred: do
Counter({True: 1167, False: 66, 'multiple words': 4})
16095
actual: paddan aram   pred: paddan
Counter({True: 1167, False: 66, 'multiple words': 5})
16221
actual: canaanite   pred: do
Counter({True: 1184, False: 67, 'multiple words': 7})
16257
actual: mahalath   pred: nebaioth
Counter({True: 1189, False: 68, 'multiple words': 8})
17520
actual: asher   pred: the
Counter({True: 1293, False: 69, 'multiple words': 9})
21516
actual: god   pred: to
Counter({True: 1522, False: 70, 'multiple words': 13})
21776
actual: asher   pred: the
Counter({True: 1558, False: 71, 'multiple words': 13})
22179
actual: ezer   pred: dishan
Counter({True: 1672, False: 72, 'multiple words': 14})
22195
actual: hori   pred: lotan
Counter({True: 1677, False: 73, 'multiple words': 14})
22255
actual: hemdan   pred: dishon
Counter({True: 1696, False: 74, 'multiple words': 14})
22257
actual: eshban   pred: hemdan
Counter({True: 1696, False: 75, 'multiple words': 14})
22291
actual: ezer   pred: dishan
Counter({True: 1711, False: 76, 'multiple words': 14})
22319
actual: israelite   pred: the
Counter({True: 1715, False: 77, 'multiple words': 14})
22351
actual: husham   pred: temanites
Counter({True: 1724, False: 78, 'multiple words': 14})
22365
actual: bedad   pred: midian
Counter({True: 1727, False: 79, 'multiple words': 14})
22421
actual: hadad   pred: of
Counter({True: 1740, False: 80, 'multiple words': 14})
22431
actual: mehetabel   pred: matred
Counter({True: 1741, False: 81, 'multiple words': 14})
22470
actual: magdiel   pred: iram
Counter({True: 1752, False: 82, 'multiple words': 14})
22486
actual: edomites   pred: edom
Counter({True: 1755, False: 83, 'multiple words': 14})
23305
actual: adullam   pred: hirah
Counter({True: 1793, False: 84, 'multiple words': 14})
23517
actual: adullamite   pred: hirah
Counter({True: 1820, False: 85, 'multiple words': 14})
23555
actual: enaim   pred: a
Counter({True: 1823, False: 86, 'multiple words': 14})
25074
actual: riverbank   pred: nile
Counter({True: 1892, False: 87, 'multiple words': 14})
25911
actual: on   pred: potiphera
Counter({True: 1944, False: 88, 'multiple words': 14})
26119
actual: egyptians   pred: egypt
Counter({True: 1966, False: 89, 'multiple words': 14})
26148
actual: egyptians   pred: egypt
Counter({True: 1968, False: 90, 'multiple words': 14})
29478
actual: shuni   pred: haggi
Counter({True: 2149, False: 91, 'multiple words': 15})
29480
actual: ezbon   pred: shuni
Counter({True: 2149, False: 92, 'multiple words': 15})
29488
actual: asher   pred: the
Counter({True: 2152, False: 93, 'multiple words': 15})
29548
actual: on   pred: potiphera
Counter({True: 2171, False: 94, 'multiple words': 15})
29567
actual: rosh   pred: the
Counter({True: 2180, False: 95, 'multiple words': 15})
30363
actual: egyptians   pred: egypt
Counter({True: 2260, False: 96, 'multiple words': 15})
30717
actual: god   pred: to
Counter({True: 2290, False: 97, 'multiple words': 15})
31396
actual: it   pred: obedience
Counter({True: 2348, False: 98, 'multiple words': 15})
31439
actual: seashore   pred: the
Counter({True: 2349, False: 99, 'multiple words': 15})
32387
actual: asher   pred: and
Counter({True: 2440, False: 100, 'multiple words': 18})
32506
actual: pithom   pred: store
Counter({True: 2449, False: 101, 'multiple words': 18})

32583
actual: puah   pred: shiphrah
Counter({True: 2454, False: 102, 'multiple words': 18})
32591
actual: hebrew   pred: childbirth
Counter({True: 2454, False: 103, 'multiple words': 18})
32743
actual: levite   pred: levi
Counter({True: 2462, False: 104, 'multiple words': 18})
32829
actual: river   pred: nile
Counter({True: 2465, False: 105, 'multiple words': 18})
32868
actual: hebrew   pred: the
Counter({True: 2465, False: 106, 'multiple words': 18})
33788
actual: hebrews   pred: lord
Counter({True: 2554, False: 107, 'multiple words': 18})
34121
actual: river   pred: nile
Counter({True: 2570, False: 108, 'multiple words': 18})
34323
actual: jethro   pred: of
Counter({True: 2581, False: 109, 'multiple words': 18})
34917
actual: israelite   pred: the
Counter({True: 2630, False: 110, 'multiple words': 18})
34945
actual: israelite   pred: the
Counter({True: 2631, False: 111, 'multiple words': 18})
35011
actual: israelite   pred: the
Counter({True: 2633, False: 112, 'multiple words': 18})
35170
actual: god   pred: to
Counter({True: 2650, False: 113, 'multiple words': 18})
35618
actual: levite   pred: were
Counter({True: 2746, False: 114, 'multiple words': 18})
35796
actual: egyptians   pred: egypt
Counter({True: 2777, False: 115, 'multiple words': 18})
36080
actual: river   pred: nile
Counter({True: 2812, False: 116, 'multiple words': 18})
36196
actual: river   pred: nile
Counter({True: 2822, False: 117, 'multiple words': 18})
36200
actual: egyptians   pred: egypt
Counter({True: 2822, False: 118, 'multiple words': 18})
36270
actual: river   pred: nile
Counter({True: 2828, False: 119, 'multiple words': 18})
37147
actual: israelites   pred: israel
Counter({True: 2909, False: 120, 'multiple words': 18})
38420
actual: sea   pred: west
Counter({True: 3008, False: 121, 'multiple words': 18})
38694
actual: egyptians   pred: egypt
Counter({True: 3034, False: 122, 'multiple words': 18})
38777
actual: israelites   pred: israel
Counter({True: 3043, False: 123, 'multiple words': 18})
39564
actual: egyptians   pred: egypt
Counter({True: 3080, False: 124, 'multiple words': 18})
39638
actual: egyptians   pred: egypt
Counter({True: 3088, False: 125, 'multiple words': 18})
39836
actual: israelite   pred: the
Counter({True: 3105, False: 126, 'multiple words': 18})
40821
actual: egyptians   pred: egypt
Counter({True: 3195, False: 127, 'multiple words': 18})
40828
actual: egyptians   pred: egypt
Counter({True: 3195, False: 128, 'multiple words': 18})
41138
actual: egyptians   pred: egypt
Counter({True: 3218, False: 129, 'multiple words': 18})
41349
actual: lord   pred: the
Counter({True: 3243, False: 130, 'multiple words': 18})
41819
actual: israelite   pred: the
Counter({True: 3279, False: 131, 'multiple words': 18})
42057
actual: israelite   pred: the
Counter({True: 3299, False: 132, 'multiple words': 18})
42076
actual: israelite   pred: the
Counter({True: 3301, False: 133, 'multiple words': 18})
42655
actual: israelite   pred: the
Counter({True: 3335, False: 134, 'multiple words': 18})
42658
actual: sin   pred: traveling
Counter({True: 3335, False: 135, 'multiple words': 18})
42979
actual: amalekite   pred: overcame
Counter({True: 3374, False: 136, 'multiple words': 18})
43030
actual: lord   pred: the
Counter({True: 3380, False: 137, 'multiple words': 18})
46670
actual: israelite   pred: the
Counter({True: 3526, False: 138, 'multiple words': 18})
52359
actual: sound   pred: moses
Counter({True: 3705, False: 139, 'multiple words': 18})
54164
actual: israelite   pred: the
Counter({True: 3808, False: 140, 'multiple words': 18})
54222
actual: israelite   pred: the
Counter({True: 3811, False: 141, 'multiple words': 18})
54509
actual: israelite   pred: the
Counter({True: 3816, False: 142, 'multiple words': 18})
54736
actual: israelite   pred: the
Counter({True: 3822, False: 143, 'multiple words': 18})
59864
actual: israelite   pred: the
Counter({True: 3976, False: 144, 'multiple words': 18})
69062
actual: israelite   pred: the
Counter({True: 4224, False: 145, 'multiple words': 18})
69886
actual: israelite   pred: the
Counter({True: 4252, False: 146, 'multiple words': 18})
70030
actual: israelite   pred: to
Counter({True: 4259, False: 147, 'multiple words': 18})
70073
actual: israelite   pred: from
Counter({True: 4260, False: 148, 'multiple words': 18})
70166
actual: israelite   pred: the
Counter({True: 4261, False: 149, 'multiple words': 18})
71444
actual: israelites   pred: israel
Counter({True: 4301, False: 150, 'multiple words': 18})
71450
actual: israelite   pred: israel
Counter({True: 4301, False: 151, 'multiple words': 18})
71575
actual: molech   pred: in
Counter({True: 4302, False: 152, 'multiple words': 18})
72905
actual: israelites   pred: israel
Counter({True: 4339, False: 153, 'multiple words': 18})
72914
actual: israelite   pred: israel
Counter({True: 4339, False: 154, 'multiple words': 18})
74266
actual: israelite   pred: lord
Counter({True: 4414, False: 155, 'multiple words': 18})
74294
actual: israelite   pred: blasphemed
Counter({True: 4417, False: 156, 'multiple words': 18})
74312
actual: dibri   pred: the
Counter({True: 4419, False: 157, 'multiple words': 18})
75183
actual: levitical   pred: levites
Counter({True: 4438, False: 158, 'multiple words': 18})
76520
actual: jacob   pred: egypt
Counter({True: 4453, False: 159, 'multiple words': 18})
77407
actual: israelite   pred: the
Counter({True: 4489, False: 160, 'multiple words': 18})
77518
actual: asher   pred: of
Counter({True: 4519, False: 161, 'multiple words': 18})
77994
actual: asher   pred: the
Counter({True: 4555, False: 162, 'multiple words': 18})
78021
actual: asher   pred: the
Counter({True: 4555, False: 163, 'multiple words': 18})
78091
actual: israelites   pred: israel
Counter({True: 4560, False: 164, 'multiple words': 18})
78126
actual: levi   pred: were
Counter({True: 4561, False: 165, 'multiple words': 18})
78258
actual: israelite   pred: the
Counter({True: 4570, False: 166, 'multiple words': 18})
78679
actual: asher   pred: the
Counter({True: 4622, False: 167, 'multiple words': 18})
78684
actual: asher   pred: the
Counter({True: 4622, False: 168, 'multiple words': 18})
79020
actual: israelite   pred: israelites
Counter({True: 4668, False: 169, 'multiple words': 18})
79157
actual: libnites   pred: gershon
Counter({True: 4695, False: 170, 'multiple words': 18})
79362
actual: mahlites   pred: merari
Counter({True: 4715, False: 171, 'multiple words': 18})
79370
actual: merarite   pred: merari
Counter({True: 4716, False: 172, 'multiple words': 18})
79517
actual: israelite   pred: the
Counter({True: 4730, False: 173, 'multiple words': 18})
83184
actual: asher   pred: the
Counter({True: 4913, False: 174, 'multiple words': 18})
83358
actual: israelite   pred: the
Counter({True: 4922, False: 175, 'multiple words': 18})
83664
actual: israelite   pred: the
Counter({True: 4936, False: 176, 'multiple words': 18})
83806
actual: israelite   pred: israelites
Counter({True: 4955, False: 177, 'multiple words': 18})
83907
actual: israelite   pred: the
Counter({True: 4966, False: 178, 'multiple words': 18})
84871
actual: helon   pred: zebulun
Counter({True: 5029, False: 179, 'multiple words': 18})
84923
actual: kohathites   pred: set
Counter({True: 5039, False: 180, 'multiple words': 18})
84969
actual: gideoni   pred: benjamin
Counter({True: 5046, False: 181, 'multiple words': 18})
84996
actual: asher   pred: the
Counter({True: 5049, False: 182, 'multiple words': 18})
85012
actual: israelite   pred: the
Counter({True: 5054, False: 183, 'multiple words': 18})
85026
actual: midianite   pred: reuel
Counter({True: 5057, False: 184, 'multiple words': 18})
85838
actual: medad   pred: eldad
Counter({True: 5097, False: 185, 'multiple words': 18})
85873
actual: medad   pred: prophesying
Counter({True: 5099, False: 186, 'multiple words': 18})
86467
actual: asher   pred: the
Counter({True: 5179, False: 187, 'multiple words': 18})
86689
actual: eshcol   pred: cluster
Counter({True: 5205, False: 188, 'multiple words': 19})
86724
actual: israelite   pred: the
Counter({True: 5208, False: 189, 'multiple words': 19})
87038
actual: israelite   pred: the
Counter({True: 5234, False: 190, 'multiple words': 19})
87062
actual: israelite   pred: the
Counter({True: 5238, False: 191, 'multiple words': 19})

88365
actual: israelite   pred: the
Counter({True: 5313, False: 192, 'multiple words': 19})
88397
actual: israelite   pred: the
Counter({True: 5314, False: 193, 'multiple words': 19})
88457
actual: israelite   pred: the
Counter({True: 5315, False: 194, 'multiple words': 19})
88747
actual: on   pred: eliab
Counter({True: 5338, False: 195, 'multiple words': 19})
88761
actual: israelite   pred: the
Counter({True: 5341, False: 196, 'multiple words': 19})
88908
actual: israelite   pred: israel
Counter({True: 5356, False: 197, 'multiple words': 19})
89616
actual: israelite   pred: the
Counter({True: 5412, False: 198, 'multiple words': 19})
91087
actual: israelite   pred: the
Counter({True: 5503, False: 199, 'multiple words': 19})
91453
actual: israelite   pred: the
Counter({True: 5507, False: 200, 'multiple words': 19})
91792
actual: egyptians   pred: egypt
Counter({True: 5538, False: 201, 'multiple words': 19})
91942
actual: israelite   pred: the
Counter({True: 5547, False: 202, 'multiple words': 19})
91946
actual: hor   pred: mount
Counter({True: 5547, False: 203, 'multiple words': 19})
91958
actual: hor   pred: mount
Counter({True: 5550, False: 204, 'multiple words': 19})
92004
actual: hor   pred: mount
Counter({True: 5555, False: 205, 'multiple words': 19})
92037
actual: hor   pred: mount
Counter({True: 5560, False: 206, 'multiple words': 19})
92112
actual: israelites   pred: israel
Counter({True: 5573, False: 207, 'multiple words': 19})
92170
actual: hor   pred: mount
Counter({True: 5579, False: 208, 'multiple words': 19})
92174
actual: red sea   pred: sea
Counter({True: 5579, False: 208, 'multiple words': 20})
92385
actual: amorite   pred: amorites
Counter({True: 5597, False: 209, 'multiple words': 20})
92429
actual: beer   pred: well
Counter({True: 5608, False: 210, 'multiple words': 20})
92873
actual: moabites   pred: moab
Counter({True: 5677, False: 211, 'multiple words': 20})
92912
actual: pethor   pred: beor
Counter({True: 5683, False: 212, 'multiple words': 20})
93029
actual: moabite   pred: the
Counter({True: 5690, False: 213, 'multiple words': 20})
93136
actual: moabite   pred: the
Counter({True: 5701, False: 214, 'multiple words': 20})
93686
actual: moabite   pred: the
Counter({True: 5739, False: 215, 'multiple words': 20})
94822
actual: asshur   pred: to
Counter({True: 5840, False: 216, 'multiple words': 20})
94862
actual: moabite   pred: the
Counter({True: 5843, False: 217, 'multiple words': 20})
94940
actual: israelite   pred: israel
Counter({True: 5852, False: 218, 'multiple words': 20})
94991
actual: israelite   pred: israelites
Counter({True: 5858, False: 219, 'multiple words': 20})
95002
actual: israelite   pred: israelites
Counter({True: 5858, False: 220, 'multiple words': 20})
95108
actual: israelite   pred: the
Counter({True: 5866, False: 221, 'multiple words': 20})
95216
actual: israelite   pred: israel
Counter({True: 5884, False: 222, 'multiple words': 20})
95294
actual: carmite   pred: carmi
Counter({True: 5903, False: 223, 'multiple words': 20})
95298
actual: reuben   pred: the
Counter({True: 5903, False: 224, 'multiple words': 20})
95415
actual: simeon   pred: clans
Counter({True: 5928, False: 225, 'multiple words': 20})
95436
actual: haggite   pred: haggi
Counter({True: 5932, False: 226, 'multiple words': 20})
95438
actual: shuni   pred: haggi
Counter({True: 5932, False: 227, 'multiple words': 20})
95441
actual: shunite   pred: haggi
Counter({True: 5932, False: 228, 'multiple words': 20})
95443
actual: ozni   pred: oznite
Counter({True: 5932, False: 229, 'multiple words': 20})
95451
actual: erite   pred: eri
Counter({True: 5934, False: 230, 'multiple words': 20})
95456
actual: arodite   pred: arodi
Counter({True: 5935, False: 231, 'multiple words': 20})
95461
actual: arelite   pred: areli
Counter({True: 5936, False: 232, 'multiple words': 20})
95596
actual: zebulun   pred: jahleelite
Counter({True: 5971, False: 233, 'multiple words': 20})
95680
actual: noah   pred: mahlah
Counter({True: 5997, False: 234, 'multiple words': 20})
95841
actual: asher   pred: the
Counter({True: 6036, False: 235, 'multiple words': 20})
95849
actual: imnite   pred: imnah
Counter({True: 6037, False: 236, 'multiple words': 20})
95854
actual: ishvite   pred: ishvi
Counter({True: 6038, False: 237, 'multiple words': 20})
95881
actual: asher   pred: the
Counter({True: 6047, False: 238, 'multiple words': 20})
95906
actual: gunite   pred: guni
Counter({True: 6051, False: 239, 'multiple words': 20})
96027
actual: merarite   pred: merari
Counter({True: 6063, False: 240, 'multiple words': 20})
96039
actual: hebronite   pred: clan
Counter({True: 6066, False: 241, 'multiple words': 20})
96060
actual: levites   pred: levi
Counter({True: 6073, False: 242, 'multiple words': 20})
96230
actual: noah   pred: mahlah
Counter({True: 6111, False: 243, 'multiple words': 20})
96513
actual: kadesh   pred: holy
Counter({True: 6132, False: 244, 'multiple words': 20})
96625
actual: israelite   pred: the
Counter({True: 6142, False: 245, 'multiple words': 20})
98541
actual: evi   pred: rekem
Counter({True: 6201, False: 246, 'multiple words': 20})
98553
actual: reba   pred: hur
Counter({True: 6204, False: 247, 'multiple words': 20})
98641
actual: israelite   pred: the
Counter({True: 6211, False: 248, 'multiple words': 20})
99825
actual: israelite   pred: to
Counter({True: 6301, False: 249, 'multiple words': 20})
100038
actual: israelite   pred: the
Counter({True: 6320, False: 250, 'multiple words': 20})
100270
actual: makirites   pred: gilead
Counter({True: 6356, False: 251, 'multiple words': 20})
100742
actual: hor   pred: mount
Counter({True: 6426, False: 252, 'multiple words': 21})
100755
actual: hor   pred: mount
Counter({True: 6428, False: 253, 'multiple words': 21})
100798
actual: hor   pred: mount
Counter({True: 6432, False: 254, 'multiple words': 21})
100823
actual: hor   pred: mount
Counter({True: 6436, False: 255, 'multiple words': 21})
101228
actual: northern   pred: the
Counter({True: 6479, False: 256, 'multiple words': 21})
101237
actual: hor   pred: mount
Counter({True: 6480, False: 257, 'multiple words': 21})
101241
actual: hor   pred: mount
Counter({True: 6480, False: 258, 'multiple words': 21})
101368
actual: reuben   pred: the
Counter({True: 6495, False: 259, 'multiple words': 21})
101377
actual: gad   pred: manasseh
Counter({True: 6495, False: 260, 'multiple words': 21})
101462
actual: shemuel   pred: simeon
Counter({True: 6507, False: 261, 'multiple words': 21})
101468
actual: elidad   pred: kislon
Counter({True: 6509, False: 262, 'multiple words': 21})
101470
actual: kislon   pred: benjamin
Counter({True: 6509, False: 263, 'multiple words': 21})
101479
actual: jogli   pred: dan
Counter({True: 6511, False: 264, 'multiple words': 21})
101499
actual: shiphtan   pred: joseph
Counter({True: 6517, False: 265, 'multiple words': 21})
101508
actual: parnach   pred: zebulun
Counter({True: 6519, False: 266, 'multiple words': 21})
101517
actual: azzan   pred: issachar
Counter({True: 6521, False: 267, 'multiple words': 21})
101522
actual: asher   pred: the
Counter({True: 6521, False: 268, 'multiple words': 21})
101524
actual: ahihud   pred: tribe
Counter({True: 6521, False: 269, 'multiple words': 21})
101526
actual: shelomi   pred: asher
Counter({True: 6521, False: 270, 'multiple words': 21})
101533
actual: pedahel   pred: tribe
Counter({True: 6522, False: 271, 'multiple words': 21})
102345
actual: israelite   pred: the
Counter({True: 6549, False: 272, 'multiple words': 21})
102389
actual: israelite   pred: the
Counter({True: 6552, False: 273, 'multiple words': 21})
102510
actual: israelite   pred: israel
Counter({True: 6560, False: 274, 'multiple words': 21})
102519
actual: israelite   pred: the
Counter({True: 6560, False: 275, 'multiple words': 21})
102533
actual: israelite   pred: the
Counter({True: 6560, False: 276, 'multiple words': 21})
102555
actual: israelite   pred: the
Counter({True: 6560, False: 277, 'multiple words': 21})
102575
actual: noah   pred: mahlah
Counter({True: 6567, False: 278, 'multiple words': 21})
102643
actual: suph   pred: the
Counter({True: 6579, False: 279, 'multiple words': 21})
102648
actual: tophel   pred: paran
Counter({True: 6580, False: 280, 'multiple words': 21})

102716
actual: ashtaroth   pred: reigned
Counter({True: 6592, False: 281, 'multiple words': 21})
103950
actual: moabites   pred: rephaites
Counter({True: 6665, False: 282, 'multiple words': 21})
104336
actual: moabites   pred: seir
Counter({True: 6699, False: 283, 'multiple words': 21})
104893
actual: maacathites   pred: geshurites
Counter({True: 6764, False: 284, 'multiple words': 21})
105069
actual: joshua   pred: jordan
Counter({True: 6782, False: 285, 'multiple words': 21})
105130
actual: lord   pred: sovereign
Counter({True: 6786, False: 286, 'multiple words': 21})
105132
actual: sovereign   pred: lord
Counter({True: 6786, False: 287, 'multiple words': 21})
109789
actual: lord   pred: sovereign
Counter({True: 7009, False: 288, 'multiple words': 21})
109791
actual: sovereign   pred: lord
Counter({True: 7009, False: 289, 'multiple words': 21})
110516
actual: egyptian   pred: brought
Counter({True: 7049, False: 290, 'multiple words': 21})
110574
actual: reubenite   pred: the
Counter({True: 7054, False: 291, 'multiple words': 21})
111212
actual: moreh   pred: vicinity
Counter({True: 7080, False: 292, 'multiple words': 22})
117426
actual: israelite   pred: the
Counter({True: 7257, False: 293, 'multiple words': 22})
117809
actual: pethor   pred: naharaim
Counter({True: 7266, False: 294, 'multiple words': 22})
118067
actual: israelite   pred: to
Counter({True: 7273, False: 295, 'multiple words': 22})
120047
actual: asher   pred: to
Counter({True: 7356, False: 296, 'multiple words': 22})
122073
actual: manasseh   pred: bashan
Counter({True: 7419, False: 297, 'multiple words': 22})
122480
actual: admah   pred: zeboiim
Counter({True: 7436, False: 298, 'multiple words': 22})
124804
actual: joshua   pred: of
Counter({True: 7524, False: 299, 'multiple words': 22})
124954
actual: hor   pred: mountain
Counter({True: 7537, False: 300, 'multiple words': 22})
125418
actual: lake   pred: the
Counter({True: 7581, False: 301, 'multiple words': 22})
125425
actual: asher   pred: of
Counter({True: 7581, False: 302, 'multiple words': 22})
125430
actual: asher   pred: of
Counter({True: 7581, False: 303, 'multiple words': 22})
125883
actual: hittite   pred: euphrates
Counter({True: 7643, False: 304, 'multiple words': 23})
127369
actual: completely   pred: salt
Counter({True: 7719, False: 305, 'multiple words': 23})
127838
actual: set   pred: jordan
Counter({True: 7764, False: 306, 'multiple words': 23})
128022
actual: coast   pred: west
Counter({True: 7780, False: 307, 'multiple words': 23})
129214
actual: israelites   pred: israel
Counter({True: 7847, False: 308, 'multiple words': 23})
129405
actual: lord   pred: sovereign
Counter({True: 7865, False: 309, 'multiple words': 24})
129407
actual: sovereign   pred: lord
Counter({True: 7865, False: 310, 'multiple words': 24})
129790
actual: a   pred: from
Counter({True: 7903, False: 311, 'multiple words': 24})
130636
actual: israelites   pred: israel
Counter({True: 7952, False: 312, 'multiple words': 25})
130708
actual: israelites   pred: israel
Counter({True: 7956, False: 313, 'multiple words': 25})
131173
actual: perhaps   pred: hivites
Counter({True: 8006, False: 314, 'multiple words': 25})
131437
actual: israelites   pred: israel
Counter({True: 8023, False: 315, 'multiple words': 25})
132017
actual: israelites   pred: israel
Counter({True: 8078, False: 316, 'multiple words': 25})
132798
actual: debir   pred: the
Counter({True: 8150, False: 317, 'multiple words': 25})
132933
actual: northern   pred: the
Counter({True: 8172, False: 318, 'multiple words': 27})
133465
actual: debir   pred: the
Counter({True: 8233, False: 319, 'multiple words': 28})
133490
actual: israelite   pred: and
Counter({True: 8238, False: 320, 'multiple words': 28})
133664
actual: maacah   pred: geshur
Counter({True: 8270, False: 321, 'multiple words': 29})
133711
actual: israelites   pred: israel
Counter({True: 8280, False: 322, 'multiple words': 29})
133814
actual: debir   pred: the
Counter({True: 8299, False: 323, 'multiple words': 29})
133887
actual: goyim   pred: the
Counter({True: 8318, False: 324, 'multiple words': 29})
133960
actual: gaza   pred: philistine
Counter({True: 8328, False: 325, 'multiple words': 30})
133963
actual: ashdod   pred: philistine
Counter({True: 8328, False: 326, 'multiple words': 30})
133965
actual: ashkelon   pred: philistine
Counter({True: 8328, False: 327, 'multiple words': 30})
133967
actual: gath   pred: philistine
Counter({True: 8328, False: 328, 'multiple words': 30})
133970
actual: ekron   pred: philistine
Counter({True: 8328, False: 329, 'multiple words': 30})
134032
actual: israelites   pred: israel
Counter({True: 8338, False: 330, 'multiple words': 30})
134139
actual: maacah   pred: geshur
Counter({True: 8355, False: 331, 'multiple words': 31})
134187
actual: maacah   pred: geshur
Counter({True: 8363, False: 332, 'multiple words': 32})
134329
actual: evi   pred: rekem
Counter({True: 8387, False: 333, 'multiple words': 32})
134341
actual: reba   pred: hur
Counter({True: 8390, False: 334, 'multiple words': 32})
134412
actual: ammonite   pred: rabbah
Counter({True: 8401, False: 335, 'multiple words': 32})
134446
actual: zaphon   pred: the
Counter({True: 8409, False: 336, 'multiple words': 32})
134584
actual: israelites   pred: israel
Counter({True: 8438, False: 337, 'multiple words': 32})
135077
actual: azmon   pred: passed
Counter({True: 8495, False: 338, 'multiple words': 32})
135146
actual: debir   pred: the
Counter({True: 8505, False: 339, 'multiple words': 32})
135219
actual: northern   pred: the
Counter({True: 8513, False: 340, 'multiple words': 33})
135357
actual: anakites   pred: anak
Counter({True: 8537, False: 341, 'multiple words': 33})
135375
actual: debir   pred: the
Counter({True: 8541, False: 342, 'multiple words': 33})
135682
actual: mareshah   pred: aczib
Counter({True: 8618, False: 343, 'multiple words': 33})
135736
actual: jattir   pred: shamir
Counter({True: 8627, False: 344, 'multiple words': 33})
135757
actual: giloh   pred: their
Counter({True: 8635, False: 345, 'multiple words': 33})
135784
actual: zior   pred: hebron
Counter({True: 8640, False: 346, 'multiple words': 33})
135823
actual: eltekon   pred: maarath
Counter({True: 8652, False: 347, 'multiple words': 33})
135847
actual: middin   pred: arabah
Counter({True: 8653, False: 348, 'multiple words': 33})
135933
actual: westward   pred: sea
Counter({True: 8667, False: 349, 'multiple words': 33})
136039
actual: sea   pred: west
Counter({True: 8684, False: 350, 'multiple words': 33})
136045
actual: ephraimites   pred: the
Counter({True: 8684, False: 351, 'multiple words': 33})
136056
actual: ephraimites   pred: the
Counter({True: 8684, False: 352, 'multiple words': 33})
136061
actual: manassites   pred: of
Counter({True: 8684, False: 353, 'multiple words': 33})
136112
actual: gileadites   pred: gilead
Counter({True: 8691, False: 354, 'multiple words': 34})
136143
actual: helek   pred: allotment
Counter({True: 8695, False: 355, 'multiple words': 34})
136196
actual: noah   pred: mahlah
Counter({True: 8707, False: 356, 'multiple words': 34})
136291
actual: asher   pred: the
Counter({True: 8723, False: 357, 'multiple words': 34})
136321
actual: ephraimites   pred: the
Counter({True: 8729, False: 358, 'multiple words': 34})
136374
actual: asher   pred: the
Counter({True: 8740, False: 359, 'multiple words': 35})
136392
actual: asher   pred: the
Counter({True: 8744, False: 360, 'multiple words': 35})
136406
actual: dor   pred: endor
Counter({True: 8745, False: 361, 'multiple words': 35})
136436
actual: manassites   pred: were
Counter({True: 8747, False: 362, 'multiple words': 35})
136653
actual: israelite   pred: had
Counter({True: 8766, False: 363, 'multiple words': 35})
136942
actual: northern   pred: north
Counter({True: 8793, False: 364, 'multiple words': 35})
137137
actual: northern   pred: salt
Counter({True: 8809, False: 365, 'multiple words': 36})
137143
actual: south   pred: jordan
Counter({True: 8809, False: 366, 'multiple words': 36})
137211
actual: towns   pred: geba
Counter({True: 8817, False: 367, 'multiple words': 36})
137296
actual: sheba   pred: beersheba
Counter({True: 8831, False: 368, 'multiple words': 37})
137324
actual: sharuhen   pred: ziklag
Counter({True: 8838, False: 369, 'multiple words': 37})

137584
actual: towns   pred: jordan
Counter({True: 8875, False: 370, 'multiple words': 38})
137613
actual: asher   pred: the
Counter({True: 8876, False: 371, 'multiple words': 38})
137728
actual: asher   pred: the
Counter({True: 8897, False: 372, 'multiple words': 38})
137798
actual: asher   pred: the
Counter({True: 8906, False: 373, 'multiple words': 38})
137815
actual: zer   pred: ziddim
Counter({True: 8908, False: 374, 'multiple words': 38})
137836
actual: iron   pred: migdal
Counter({True: 8916, False: 375, 'multiple words': 38})
137931
actual: danites   pred: dan
Counter({True: 8933, False: 376, 'multiple words': 38})
138454
actual: simeon   pred: thirteen
Counter({True: 8981, False: 377, 'multiple words': 38})
138500
actual: asher   pred: the
Counter({True: 8988, False: 378, 'multiple words': 38})
138615
actual: anak   pred: pastureland
Counter({True: 9001, False: 379, 'multiple words': 38})
138706
actual: juttah   pred: shemesh
Counter({True: 9013, False: 380, 'multiple words': 38})
138837
actual: eltekeh   pred: tribe
Counter({True: 9027, False: 381, 'multiple words': 38})
138903
actual: levite   pred: were
Counter({True: 9033, False: 382, 'multiple words': 38})
138965
actual: asher   pred: the
Counter({True: 9039, False: 383, 'multiple words': 39})
139061
actual: kartah   pred: jokneam
Counter({True: 9051, False: 384, 'multiple words': 39})
139476
actual: west   pred: jordan
Counter({True: 9089, False: 385, 'multiple words': 39})
139639
actual: israelite   pred: israelites
Counter({True: 9108, False: 386, 'multiple words': 39})
139709
actual: israelite   pred: israel
Counter({True: 9118, False: 387, 'multiple words': 39})
141000
actual: egyptians   pred: egypt
Counter({True: 9233, False: 388, 'multiple words': 39})
142331
actual: hittites   pred: luz
Counter({True: 9373, False: 389, 'multiple words': 40})
142459
actual: asher   pred: in
Counter({True: 9390, False: 390, 'multiple words': 40})
142464
actual: acco   pred: in
Counter({True: 9390, False: 391, 'multiple words': 40})
142471
actual: ahlab   pred: or
Counter({True: 9391, False: 392, 'multiple words': 40})
142480
actual: aphek   pred: helbah
Counter({True: 9393, False: 393, 'multiple words': 40})
143327
actual: israelites   pred: israel
Counter({True: 9473, False: 394, 'multiple words': 41})
143406
actual: israelites   pred: israel
Counter({True: 9483, False: 395, 'multiple words': 41})
144137
actual: kenite   pred: kenites
Counter({True: 9564, False: 396, 'multiple words': 41})
144315
actual: jael   pred: went
Counter({True: 9594, False: 397, 'multiple words': 41})
144396
actual: jael   pred: went
Counter({True: 9595, False: 398, 'multiple words': 41})
144446
actual: jael   pred: went
Counter({True: 9598, False: 399, 'multiple words': 41})
144778
actual: asher   pred: the
Counter({True: 9650, False: 400, 'multiple words': 41})
145571
actual: lord   pred: sovereign
Counter({True: 9717, False: 401, 'multiple words': 41})
145573
actual: sovereign   pred: lord
Counter({True: 9717, False: 402, 'multiple words': 41})
145868
actual: jerub-baal   pred: jerubbaal
Counter({True: 9734, False: 403, 'multiple words': 41})
145930
actual: asher   pred: to
Counter({True: 9742, False: 404, 'multiple words': 41})
146087
actual: jerub-baal   pred: jerubbaal
Counter({True: 9748, False: 405, 'multiple words': 41})
146530
actual: israelite   pred: the
Counter({True: 9776, False: 406, 'multiple words': 41})
146792
actual: asher   pred: the
Counter({True: 9791, False: 407, 'multiple words': 41})
146850
actual: midianite   pred: midianites
Counter({True: 9799, False: 408, 'multiple words': 41})
146892
actual: ephraimites   pred: the
Counter({True: 9809, False: 409, 'multiple words': 41})
146973
actual: jordan   pred: exhausted
Counter({True: 9816, False: 410, 'multiple words': 41})
147013
actual: zalmunna   pred: zebah
Counter({True: 9818, False: 411, 'multiple words': 41})
147024
actual: zalmunna   pred: zebah
Counter({True: 9821, False: 412, 'multiple words': 41})
147047
actual: zalmunna   pred: zebah
Counter({True: 9823, False: 413, 'multiple words': 41})
147108
actual: zalmunna   pred: zebah
Counter({True: 9827, False: 414, 'multiple words': 41})
147167
actual: zalmunna   pred: zebah
Counter({True: 9831, False: 415, 'multiple words': 41})
147235
actual: zalmunna   pred: zebah
Counter({True: 9838, False: 416, 'multiple words': 41})
147246
actual: zalmunna   pred: zebah
Counter({True: 9839, False: 417, 'multiple words': 41})
147298
actual: zalmunna   pred: zebah
Counter({True: 9842, False: 418, 'multiple words': 41})
147338
actual: jether   pred: only
Counter({True: 9844, False: 419, 'multiple words': 41})
147362
actual: zalmunna   pred: zebah
Counter({True: 9845, False: 420, 'multiple words': 41})
147580
actual: jerub-baal   pred: jerubbaal
Counter({True: 9860, False: 421, 'multiple words': 41})
147689
actual: jerub-baal   pred: jerubbaal
Counter({True: 9871, False: 422, 'multiple words': 41})
147703
actual: jerub-baal   pred: jerubbaal
Counter({True: 9873, False: 423, 'multiple words': 41})
147743
actual: jerub-baal   pred: jerubbaal
Counter({True: 9875, False: 424, 'multiple words': 41})
147824
actual: jerub-baal   pred: jerubbaal
Counter({True: 9879, False: 425, 'multiple words': 41})
147834
actual: jerub-baal   pred: jerubbaal
Counter({True: 9880, False: 426, 'multiple words': 41})
148076
actual: jerub-baal   pred: jerubbaal
Counter({True: 9888, False: 427, 'multiple words': 41})
148152
actual: jerub-baal   pred: jerubbaal
Counter({True: 9891, False: 428, 'multiple words': 41})
148246
actual: jerub-baal   pred: jerubbaal
Counter({True: 9904, False: 429, 'multiple words': 41})
148304
actual: ebed   pred: his
Counter({True: 9909, False: 430, 'multiple words': 41})
148349
actual: ebed   pred: serve
Counter({True: 9912, False: 431, 'multiple words': 41})
148361
actual: jerub-baal   pred: jerubbaal
Counter({True: 9914, False: 432, 'multiple words': 41})
148412
actual: ebed   pred: he
Counter({True: 9920, False: 433, 'multiple words': 41})
148423
actual: cover   pred: abimelech
Counter({True: 9921, False: 434, 'multiple words': 41})
148429
actual: ebed   pred: he
Counter({True: 9922, False: 435, 'multiple words': 41})
148518
actual: ebed   pred: as
Counter({True: 9926, False: 436, 'multiple words': 41})
148581
actual: centre   pred: center
Counter({True: 9931, False: 437, 'multiple words': 41})
149052
actual: jerub-baal   pred: jerubbaal
Counter({True: 9956, False: 438, 'multiple words': 41})
149063
actual: puah   pred: tola
Counter({True: 9959, False: 439, 'multiple words': 41})
149096
actual: gilead   pred: jair
Counter({True: 9966, False: 440, 'multiple words': 41})
149513
actual: tob   pred: the
Counter({True: 10017, False: 441, 'multiple words': 41})
149553
actual: tob   pred: the
Counter({True: 10021, False: 442, 'multiple words': 41})
149719
actual: ammonite   pred: jephthah
Counter({True: 10035, False: 443, 'multiple words': 41})
149784
actual: ammonite   pred: jephthah
Counter({True: 10043, False: 444, 'multiple words': 41})
150446
actual: israelite   pred: the
Counter({True: 10123, False: 445, 'multiple words': 41})
150472
actual: zaphon   pred: the
Counter({True: 10127, False: 446, 'multiple words': 41})
150585
actual: gileadites   pred: gilead
Counter({True: 10136, False: 447, 'multiple words': 41})
150590
actual: gileadites   pred: gilead
Counter({True: 10136, False: 448, 'multiple words': 41})
150592
actual: ephraimites   pred: ephraim
Counter({True: 10136, False: 449, 'multiple words': 41})
150602
actual: gileadites   pred: gilead
Counter({True: 10138, False: 450, 'multiple words': 41})
150663
actual: ephraimites   pred: the
Counter({True: 10144, False: 451, 'multiple words': 41})
150767
actual: hillel   pred: pirathon
Counter({True: 10161, False: 452, 'multiple words': 41})
150794
actual: hillel   pred: pirathon
Counter({True: 10164, False: 453, 'multiple words': 41})
150837
actual: danites   pred: the
Counter({True: 10172, False: 454, 'multiple words': 41})
151006
actual: lord   pred: beg
Counter({True: 10178, False: 455, 'multiple words': 41})
152136
actual: timnite   pred: samson
Counter({True: 10233, False: 456, 'multiple words': 41})
153028
actual: philistines   pred: to
Counter({True: 10276, False: 457, 'multiple words': 42})
153046
actual: rulers   pred: philistines
Counter({True: 10276, False: 458, 'multiple words': 42})
153127
actual: gaza   pred: binding
Counter({True: 10280, False: 459, 'multiple words': 42})

153315
actual: lord   pred: sovereign
Counter({True: 10290, False: 460, 'multiple words': 42})
153317
actual: sovereign   pred: lord
Counter({True: 10290, False: 461, 'multiple words': 42})
153457
actual: micah   pred: ephraim
Counter({True: 10299, False: 462, 'multiple words': 42})
153567
actual: micah   pred: lord
Counter({True: 10301, False: 463, 'multiple words': 42})
153794
actual: danites   pred: the
Counter({True: 10319, False: 464, 'multiple words': 42})
154090
actual: danites   pred: men
Counter({True: 10334, False: 465, 'multiple words': 42})
154598
actual: danites   pred: dan
Counter({True: 10360, False: 466, 'multiple words': 42})
154607
actual: moses   pred: of
Counter({True: 10362, False: 467, 'multiple words': 42})
154617
actual: dan   pred: the
Counter({True: 10362, False: 468, 'multiple words': 42})
155093
actual: benjamites   pred: fields
Counter({True: 10378, False: 469, 'multiple words': 42})
156338
actual: israelite   pred: israel
Counter({True: 10458, False: 470, 'multiple words': 42})
156385
actual: israelites   pred: israel
Counter({True: 10463, False: 471, 'multiple words': 42})
156387
actual: benjamites   pred: benjamin
Counter({True: 10463, False: 472, 'multiple words': 42})
156407
actual: benjamites   pred: benjamin
Counter({True: 10463, False: 473, 'multiple words': 42})
156548
actual: israelites   pred: israel
Counter({True: 10474, False: 474, 'multiple words': 42})
156789
actual: israelites   pred: israel
Counter({True: 10489, False: 475, 'multiple words': 42})
156824
actual: israelites   pred: israel
Counter({True: 10493, False: 476, 'multiple words': 42})
157062
actual: benjamite   pred: tribe
Counter({True: 10508, False: 477, 'multiple words': 47})
157336
actual: mahlon   pred: kilion
Counter({True: 10526, False: 478, 'multiple words': 47})
157368
actual: moabite   pred: orpah
Counter({True: 10532, False: 479, 'multiple words': 47})
157389
actual: mahlon   pred: kilion
Counter({True: 10534, False: 480, 'multiple words': 47})
159049
actual: mahlon   pred: kilion
Counter({True: 10622, False: 481, 'multiple words': 47})
159058
actual: moabitess   pred: ruth
Counter({True: 10624, False: 482, 'multiple words': 47})
159405
actual: phinehas   pred: hophni
Counter({True: 10680, False: 483, 'multiple words': 47})
159696
actual: eli   pred: you
Counter({True: 10702, False: 484, 'multiple words': 47})
160375
actual: eli   pred: you
Counter({True: 10747, False: 485, 'multiple words': 47})
160609
actual: israelites   pred: israel
Counter({True: 10766, False: 486, 'multiple words': 47})
160902
actual: eli   pred: you
Counter({True: 10780, False: 487, 'multiple words': 47})
160933
actual: eli   pred: you
Counter({True: 10783, False: 488, 'multiple words': 47})
160976
actual: eli   pred: you
Counter({True: 10789, False: 489, 'multiple words': 47})
160987
actual: eli   pred: you
Counter({True: 10789, False: 490, 'multiple words': 47})
160996
actual: eli   pred: you
Counter({True: 10790, False: 491, 'multiple words': 47})
161282
actual: israelites   pred: israel
Counter({True: 10823, False: 492, 'multiple words': 47})
161440
actual: hebrew   pred: the
Counter({True: 10843, False: 493, 'multiple words': 47})
161528
actual: israelites   pred: israel
Counter({True: 10848, False: 494, 'multiple words': 47})
162265
actual: philistine   pred: philistines
Counter({True: 10899, False: 495, 'multiple words': 50})
162983
actual: israelites   pred: israel
Counter({True: 10955, False: 496, 'multiple words': 50})
163069
actual: israelites   pred: israel
Counter({True: 10965, False: 497, 'multiple words': 50})
163130
actual: israelite   pred: the
Counter({True: 10973, False: 498, 'multiple words': 50})
163704
actual: kish   pred: name
Counter({True: 11012, False: 499, 'multiple words': 50})
163708
actual: son   pred: abiel
Counter({True: 11012, False: 500, 'multiple words': 50})
163710
actual: son   pred: a
Counter({True: 11012, False: 501, 'multiple words': 50})
163712
actual: son   pred: zeror
Counter({True: 11012, False: 502, 'multiple words': 50})
163714
actual: benjamin   pred: becorath
Counter({True: 11012, False: 503, 'multiple words': 50})
163716
actual: benjamin   pred: man
Counter({True: 11012, False: 504, 'multiple words': 50})
163800
actual: shaalim   pred: shalisha
Counter({True: 11020, False: 505, 'multiple words': 50})
164553
actual: zelzah   pred: benjamin
Counter({True: 11059, False: 506, 'multiple words': 50})
164594
actual: great tree   pred: tree
Counter({True: 11059, False: 506, 'multiple words': 51})
165046
actual: matri   pred: the
Counter({True: 11088, False: 507, 'multiple words': 51})
165050
actual: son   pred: saul
Counter({True: 11088, False: 508, 'multiple words': 51})
165051
actual: kish   pred: son
Counter({True: 11088, False: 509, 'multiple words': 51})
165862
actual: lord   pred: the
Counter({True: 11157, False: 510, 'multiple words': 53})
165888
actual: jerub-baal   pred: jerubbaal
Counter({True: 11158, False: 511, 'multiple words': 53})
165891
actual: barak   pred: jephthah
Counter({True: 11158, False: 512, 'multiple words': 53})
166272
actual: michmash   pred: micmash
Counter({True: 11188, False: 513, 'multiple words': 53})
166300
actual: philistine   pred: philistines
Counter({True: 11192, False: 514, 'multiple words': 53})
166332
actual: philistine   pred: philistines
Counter({True: 11198, False: 515, 'multiple words': 53})
166379
actual: michmash   pred: micmash
Counter({True: 11203, False: 516, 'multiple words': 53})
166529
actual: michmash   pred: micmash
Counter({True: 11215, False: 517, 'multiple words': 53})
166615
actual: gibeah   pred: gilgal
Counter({True: 11224, False: 518, 'multiple words': 53})
166653
actual: michmash   pred: micmash
Counter({True: 11231, False: 519, 'multiple words': 53})
166801
actual: michmash   pred: micmash
Counter({True: 11244, False: 520, 'multiple words': 53})
166862
actual: ichabod   pred: ephod
Counter({True: 11252, False: 521, 'multiple words': 53})
166928
actual: michmash   pred: micmash
Counter({True: 11262, False: 522, 'multiple words': 53})
167056
actual: philistine   pred: philistines
Counter({True: 11269, False: 523, 'multiple words': 53})
167585
actual: michmash   pred: micmash
Counter({True: 11303, False: 524, 'multiple words': 53})
167586
actual: aijalon   pred: micmash
Counter({True: 11303, False: 525, 'multiple words': 53})
168083
actual: abner   pred: ner
Counter({True: 11355, False: 526, 'multiple words': 53})
170031
actual: israelites   pred: israel
Counter({True: 11578, False: 527, 'multiple words': 53})
170851
actual: gath   pred: of
Counter({True: 11629, False: 528, 'multiple words': 53})
170862
actual: shaaraim   pred: gates
Counter({True: 11630, False: 529, 'multiple words': 53})
171425
actual: meholah   pred: adriel
Counter({True: 11698, False: 530, 'multiple words': 53})
171572
actual: philistine   pred: philistines
Counter({True: 11713, False: 531, 'multiple words': 53})
173381
actual: jonathan   pred: david
Counter({True: 11851, False: 532, 'multiple words': 53})
173394
actual: lord   pred: david
Counter({True: 11852, False: 533, 'multiple words': 53})
173397
actual: lord   pred: david
Counter({True: 11852, False: 534, 'multiple words': 53})
174027
actual: benjamin   pred: fields
Counter({True: 11899, False: 535, 'multiple words': 53})
174117
actual: ahitub   pred: nob
Counter({True: 11907, False: 536, 'multiple words': 53})
174950
actual: hill   pred: gibeah
Counter({True: 12004, False: 537, 'multiple words': 53})
175432
actual: face   pred: david
Counter({True: 12046, False: 538, 'multiple words': 54})
175693
actual: lord   pred: the
Counter({True: 12059, False: 539, 'multiple words': 54})
175875
actual: calebite   pred: dealings
Counter({True: 12072, False: 540, 'multiple words': 54})
177019
actual: hill   pred: gibeah
Counter({True: 12147, False: 541, 'multiple words': 54})
177053
actual: hill   pred: hakilah
Counter({True: 12153, False: 542, 'multiple words': 54})
179334
actual: ravine   pred: pursuit
Counter({True: 12367, False: 543, 'multiple words': 58})
179905
actual: israelites   pred: israel
Counter({True: 12412, False: 544, 'multiple words': 59})
180065
actual: israelite   pred: israelites
Counter({True: 12424, False: 545, 'multiple words': 59})

180291
actual: israelite   pred: the
Counter({True: 12443, False: 546, 'multiple words': 60})
180803
actual: hebron   pred: david
Counter({True: 12486, False: 547, 'multiple words': 60})
181357
actual: ammah   pred: was
Counter({True: 12558, False: 548, 'multiple words': 64})
181361
actual: giah   pred: wasteland
Counter({True: 12558, False: 549, 'multiple words': 64})
181583
actual: sons   pred: david
Counter({True: 12583, False: 550, 'multiple words': 64})
181601
actual: widow   pred: abigail
Counter({True: 12584, False: 551, 'multiple words': 64})
181609
actual: son   pred: absalom
Counter({True: 12584, False: 552, 'multiple words': 64})
181610
actual: maacah   pred: son
Counter({True: 12584, False: 553, 'multiple words': 64})
181613
actual: king   pred: talmai
Counter({True: 12584, False: 554, 'multiple words': 64})
181614
actual: geshur   pred: king
Counter({True: 12584, False: 555, 'multiple words': 64})
181986
actual: benjamites   pred: benjamin
Counter({True: 12637, False: 556, 'multiple words': 64})
182598
actual: gittaim   pred: beeroth
Counter({True: 12709, False: 557, 'multiple words': 65})
182955
actual: lord   pred: israel
Counter({True: 12742, False: 558, 'multiple words': 65})
182967
actual: become   pred: israel
Counter({True: 12742, False: 559, 'multiple words': 65})
183096
actual: jebusites   pred: conquers
Counter({True: 12763, False: 560, 'multiple words': 65})
183415
actual: lord   pred: out
Counter({True: 12805, False: 561, 'multiple words': 65})
184144
actual: israelites   pred: israel
Counter({True: 12879, False: 562, 'multiple words': 65})
184434
actual: lord   pred: sovereign
Counter({True: 12892, False: 563, 'multiple words': 65})
184436
actual: sovereign   pred: lord
Counter({True: 12892, False: 564, 'multiple words': 65})
184453
actual: lord   pred: sovereign
Counter({True: 12892, False: 565, 'multiple words': 65})
184455
actual: sovereign   pred: lord
Counter({True: 12892, False: 566, 'multiple words': 65})
184471
actual: lord   pred: sovereign
Counter({True: 12892, False: 567, 'multiple words': 65})
184473
actual: sovereign   pred: lord
Counter({True: 12892, False: 568, 'multiple words': 65})
184489
actual: lord   pred: sovereign
Counter({True: 12893, False: 569, 'multiple words': 65})
184491
actual: sovereign   pred: lord
Counter({True: 12893, False: 570, 'multiple words': 65})
184515
actual: lord   pred: sovereign
Counter({True: 12893, False: 571, 'multiple words': 65})
184517
actual: sovereign   pred: lord
Counter({True: 12893, False: 572, 'multiple words': 65})
184691
actual: lord   pred: sovereign
Counter({True: 12903, False: 573, 'multiple words': 65})
184693
actual: sovereign   pred: lord
Counter({True: 12903, False: 574, 'multiple words': 65})
184730
actual: lord   pred: sovereign
Counter({True: 12903, False: 575, 'multiple words': 65})
184732
actual: sovereign   pred: lord
Counter({True: 12903, False: 576, 'multiple words': 65})
184761
actual: metheg   pred: ammah
Counter({True: 12905, False: 577, 'multiple words': 65})
184763
actual: ammah   pred: the
Counter({True: 12905, False: 578, 'multiple words': 65})
184913
actual: tebah   pred: berothai
Counter({True: 12924, False: 579, 'multiple words': 65})
184916
actual: berothai   pred: belonged
Counter({True: 12924, False: 580, 'multiple words': 65})
185010
actual: edom   pred: zobah
Counter({True: 12936, False: 581, 'multiple words': 65})
185046
actual: edomites   pred: of
Counter({True: 12944, False: 582, 'multiple words': 65})
185063
actual: edomites   pred: edom
Counter({True: 12945, False: 583, 'multiple words': 65})
185524
actual: ammonite   pred: hanun
Counter({True: 13010, False: 584, 'multiple words': 65})
185653
actual: tob   pred: the
Counter({True: 13020, False: 585, 'multiple words': 65})
185689
actual: tob   pred: the
Counter({True: 13024, False: 586, 'multiple words': 65})
185856
actual: helam   pred: shobach
Counter({True: 13046, False: 587, 'multiple words': 65})
185936
actual: israelites   pred: israel
Counter({True: 13059, False: 588, 'multiple words': 65})
185974
actual: israelite   pred: the
Counter({True: 13063, False: 589, 'multiple words': 65})
186470
actual: jerub-besheth   pred: jerubbesheth
Counter({True: 13111, False: 590, 'multiple words': 65})
186565
actual: hittite   pred: uriah
Counter({True: 13117, False: 591, 'multiple words': 65})
187272
actual: lord   pred: gracious
Counter({True: 13157, False: 592, 'multiple words': 66})
187328
actual: lord   pred: the
Counter({True: 13158, False: 593, 'multiple words': 66})
187490
actual: returned   pred: ammonite
Counter({True: 13170, False: 594, 'multiple words': 66})
187493
actual: entire   pred: david
Counter({True: 13170, False: 595, 'multiple words': 66})
188022
actual: amnon   pred: absalom
Counter({True: 13206, False: 596, 'multiple words': 66})
188801
actual: lord   pred: lives
Counter({True: 13254, False: 597, 'multiple words': 66})
189626
actual: israelites   pred: israel
Counter({True: 13290, False: 598, 'multiple words': 66})
189754
actual: gilonite   pred: ahithophel
Counter({True: 13308, False: 599, 'multiple words': 66})
189761
actual: giloh   pred: gilonite
Counter({True: 13309, False: 600, 'multiple words': 66})
190542
actual: ziba   pred: the
Counter({True: 13367, False: 601, 'multiple words': 66})
190899
actual: lord   pred: the
Counter({True: 13404, False: 602, 'multiple words': 66})
191760
actual: mahanaim   pred: shobi
Counter({True: 13479, False: 603, 'multiple words': 66})
191763
actual: shobi   pred: the
Counter({True: 13479, False: 604, 'multiple words': 66})
193337
actual: gera   pred: son
Counter({True: 13585, False: 605, 'multiple words': 66})
194077
actual: sheba   pred: of
Counter({True: 13631, False: 606, 'multiple words': 66})
194117
actual: sheba   pred: of
Counter({True: 13638, False: 607, 'multiple words': 66})
194218
actual: sheba   pred: of
Counter({True: 13650, False: 608, 'multiple words': 66})
194266
actual: sheba   pred: of
Counter({True: 13656, False: 609, 'multiple words': 66})
194370
actual: sheba   pred: of
Counter({True: 13669, False: 610, 'multiple words': 66})
194452
actual: sheba   pred: of
Counter({True: 13676, False: 611, 'multiple words': 66})
194618
actual: sheba   pred: of
Counter({True: 13689, False: 612, 'multiple words': 66})
194673
actual: sheba   pred: of
Counter({True: 13692, False: 613, 'multiple words': 66})
194732
actual: secretary   pred: sheva
Counter({True: 13703, False: 614, 'multiple words': 66})
194737
actual: priests   pred: abiathar
Counter({True: 13703, False: 615, 'multiple words': 66})
194808
actual: israelites   pred: israel
Counter({True: 13715, False: 616, 'multiple words': 66})
194965
actual: armoni   pred: borne
Counter({True: 13738, False: 617, 'multiple words': 66})
194973
actual: merab   pred: daughter
Counter({True: 13739, False: 618, 'multiple words': 66})
194983
actual: meholathite   pred: adriel
Counter({True: 13742, False: 619, 'multiple words': 66})
195199
actual: rapha   pred: the
Counter({True: 13764, False: 620, 'multiple words': 67})
196163
actual: son   pred: eleazar
Counter({True: 13821, False: 621, 'multiple words': 67})
196173
actual: taunted   pred: david
Counter({True: 13821, False: 622, 'multiple words': 67})
196288
actual: cave   pred: adullam
Counter({True: 13828, False: 623, 'multiple words': 67})
196291
actual: band   pred: philistines
Counter({True: 13828, False: 624, 'multiple words': 67})
196562
actual: tekoa   pred: ikkesh
Counter({True: 13858, False: 625, 'multiple words': 68})
196565
actual: anathoth   pred: mebunnai
Counter({True: 13859, False: 626, 'multiple words': 68})
196575
actual: heled   pred: the
Counter({True: 13865, False: 627, 'multiple words': 68})
197981
actual: zadok   pred: and
Counter({True: 14033, False: 628, 'multiple words': 69})
198829
actual: jether   pred: of
Counter({True: 14118, False: 629, 'multiple words': 69})
198876
actual: gilead   pred: barzillai
Counter({True: 14119, False: 630, 'multiple words': 69})
199307
actual: father   pred: david
Counter({True: 14158, False: 631, 'multiple words': 69})
199348
actual: anathoth   pred: abiathar
Counter({True: 14162, False: 632, 'multiple words': 69})
199370
actual: lord   pred: sovereign
Counter({True: 14162, False: 633, 'multiple words': 69})
199372
actual: sovereign   pred: lord
Counter({True: 14162, False: 634, 'multiple words': 69})

199570
actual: jether   pred: of
Counter({True: 14189, False: 635, 'multiple words': 69})
200723
actual: shisha   pred: ahijah
Counter({True: 14264, False: 636, 'multiple words': 69})
200750
actual: zabud   pred: nathan
Counter({True: 14272, False: 637, 'multiple words': 69})
200758
actual: ahishar   pred: charge
Counter({True: 14273, False: 638, 'multiple words': 69})
200807
actual: ben-deker   pred: ephraim
Counter({True: 14278, False: 639, 'multiple words': 69})
200821
actual: ben-hesed   pred: arubboth
Counter({True: 14280, False: 640, 'multiple words': 69})
200833
actual: ben-abinadab   pred: naphoth
Counter({True: 14282, False: 641, 'multiple words': 69})
200837
actual: taphath   pred: was
Counter({True: 14284, False: 642, 'multiple words': 69})
200857
actual: zarethan   pred: shan
Counter({True: 14289, False: 643, 'multiple words': 69})
200875
actual: ben-geber   pred: were
Counter({True: 14291, False: 644, 'multiple words': 69})
200878
actual: ramoth gilead   pred: gilead
Counter({True: 14291, False: 644, 'multiple words': 70})
200906
actual: iddo   pred: of
Counter({True: 14295, False: 645, 'multiple words': 70})
200925
actual: asher   pred: of
Counter({True: 14302, False: 646, 'multiple words': 70})
200930
actual: paruah   pred: of
Counter({True: 14304, False: 647, 'multiple words': 70})
200935
actual: ela   pred: of
Counter({True: 14306, False: 648, 'multiple words': 70})
200940
actual: uri   pred: geber
Counter({True: 14308, False: 649, 'multiple words': 70})
200950
actual: og   pred: amorites
Counter({True: 14311, False: 650, 'multiple words': 70})
201050
actual: tiphsah   pred: river
Counter({True: 14321, False: 651, 'multiple words': 70})
201205
actual: ezrahite   pred: ethan
Counter({True: 14333, False: 652, 'multiple words': 70})
201643
actual: lebanon   pred: shifts
Counter({True: 14372, False: 653, 'multiple words': 70})
201757
actual: israelites   pred: israel
Counter({True: 14376, False: 654, 'multiple words': 71})
202055
actual: israelites   pred: israel
Counter({True: 14386, False: 655, 'multiple words': 71})
202843
actual: tyre   pred: naphtali
Counter({True: 14402, False: 656, 'multiple words': 71})
203677
actual: temple   pred: solomon
Counter({True: 14409, False: 657, 'multiple words': 71})
203678
actual: lord   pred: temple
Counter({True: 14409, False: 658, 'multiple words': 71})
203857
actual: israelite   pred: israel
Counter({True: 14421, False: 659, 'multiple words': 71})
203886
actual: ethanim   pred: men
Counter({True: 14427, False: 660, 'multiple words': 71})
205269
actual: lord   pred: sovereign
Counter({True: 14489, False: 661, 'multiple words': 71})
205271
actual: sovereign   pred: lord
Counter({True: 14489, False: 662, 'multiple words': 71})
205919
actual: lord   pred: brought
Counter({True: 14531, False: 663, 'multiple words': 71})
206069
actual: hazor   pred: the
Counter({True: 14547, False: 664, 'multiple words': 71})
206400
actual: jerusalem   pred: arriving
Counter({True: 14586, False: 665, 'multiple words': 71})
207085
actual: hittites   pred: exported
Counter({True: 14617, False: 666, 'multiple words': 72})
207106
actual: moabites   pred: ammonites
Counter({True: 14620, False: 667, 'multiple words': 72})
207107
actual: ammonites   pred: edomites
Counter({True: 14620, False: 668, 'multiple words': 72})
207108
actual: edomites   pred: sidonians
Counter({True: 14620, False: 669, 'multiple words': 72})
207197
actual: ashtoreth   pred: goddess
Counter({True: 14628, False: 670, 'multiple words': 72})
207239
actual: molech   pred: of
Counter({True: 14639, False: 671, 'multiple words': 74})
207240
actual: detestable god   pred: detestable
Counter({True: 14639, False: 671, 'multiple words': 75})
207433
actual: hadad   pred: still
Counter({True: 14662, False: 672, 'multiple words': 75})
207437
actual: edomite   pred: boy
Counter({True: 14662, False: 673, 'multiple words': 75})
207665
actual: zeredah   pred: ephraimite
Counter({True: 14699, False: 674, 'multiple words': 75})
207670
actual: zeruah   pred: ephraimite
Counter({True: 14699, False: 675, 'multiple words': 75})
207747
actual: shiloh   pred: met
Counter({True: 14708, False: 676, 'multiple words': 75})
207849
actual: ashtoreth   pred: goddess
Counter({True: 14716, False: 677, 'multiple words': 75})
207851
actual: sidonians   pred: goddess
Counter({True: 14716, False: 678, 'multiple words': 75})
208592
actual: israelites   pred: israel
Counter({True: 14763, False: 679, 'multiple words': 75})
208658
actual: israelites   pred: israel
Counter({True: 14773, False: 680, 'multiple words': 75})
208691
actual: jerusalem   pred: rehoboam
Counter({True: 14777, False: 681, 'multiple words': 75})
208702
actual: a hundred   pred: benjamin
Counter({True: 14777, False: 681, 'multiple words': 76})
208721
actual: son   pred: rehoboam
Counter({True: 14777, False: 682, 'multiple words': 76})
211069
actual: lord   pred: temple
Counter({True: 14955, False: 683, 'multiple words': 77})
211145
actual: tabrimmon   pred: lord
Counter({True: 14966, False: 684, 'multiple words': 77})
211149
actual: king   pred: aram
Counter({True: 14967, False: 685, 'multiple words': 77})
211843
actual: elah   pred: god
Counter({True: 15073, False: 686, 'multiple words': 77})
212045
actual: tibni   pred: ginath
Counter({True: 15096, False: 687, 'multiple words': 77})
212047
actual: ginath   pred: tibni
Counter({True: 15096, False: 688, 'multiple words': 77})
212068
actual: tibni   pred: ginath
Counter({True: 15098, False: 689, 'multiple words': 77})
212070
actual: ginath   pred: tibni
Counter({True: 15098, False: 690, 'multiple words': 77})
212073
actual: tibni   pred: ginath
Counter({True: 15098, False: 691, 'multiple words': 77})
212164
actual: lord   pred: provoked
Counter({True: 15112, False: 692, 'multiple words': 78})
212168
actual: worthless idols   pred: israel
Counter({True: 15112, False: 692, 'multiple words': 79})
212275
actual: ethbaal   pred: jezebel
Counter({True: 15130, False: 693, 'multiple words': 79})
212333
actual: bethel   pred: of
Counter({True: 15139, False: 694, 'multiple words': 79})
212336
actual: jericho   pred: cost
Counter({True: 15139, False: 695, 'multiple words': 79})
212351
actual: lord   pred: of
Counter({True: 15140, False: 696, 'multiple words': 79})
212358
actual: nun   pred: joshua
Counter({True: 15140, False: 697, 'multiple words': 79})
215161
actual: arameans   pred: aram
Counter({True: 15331, False: 698, 'multiple words': 79})
216837
actual: kenaanah   pred: iron
Counter({True: 15468, False: 699, 'multiple words': 82})
217153
actual: kenaanah   pred: slapped
Counter({True: 15489, False: 700, 'multiple words': 85})
217584
actual: asa   pred: shilhi
Counter({True: 15528, False: 701, 'multiple words': 86})
217597
actual: lord   pred: shilhi
Counter({True: 15528, False: 702, 'multiple words': 86})
217828
actual: baal-zebub   pred: baalzebub
Counter({True: 15562, False: 703, 'multiple words': 87})
217868
actual: baal-zebub   pred: said
Counter({True: 15568, False: 704, 'multiple words': 87})
217947
actual: baal-zebub   pred: said
Counter({True: 15572, False: 705, 'multiple words': 87})
218263
actual: baal-zebub   pred: baalzebub
Counter({True: 15581, False: 706, 'multiple words': 87})
218310
actual: jehoram   pred: joram
Counter({True: 15586, False: 707, 'multiple words': 87})
219535
actual: israelites   pred: israel
Counter({True: 15701, False: 708, 'multiple words': 87})
221093
actual: abana   pred: pharpar
Counter({True: 15750, False: 709, 'multiple words': 87})
221486
actual: gehazi   pred: where
Counter({True: 15773, False: 710, 'multiple words': 87})
222582
actual: hittite   pred: israel
Counter({True: 15825, False: 711, 'multiple words': 87})
223514
actual: jehoram   pred: joram
Counter({True: 15870, False: 712, 'multiple words': 87})
223713
actual: jehoram   pred: joram
Counter({True: 15895, False: 713, 'multiple words': 87})
223779
actual: arameans   pred: ramoth
Counter({True: 15909, False: 714, 'multiple words': 88})
223797
actual: arameans   pred: ramoth
Counter({True: 15912, False: 715, 'multiple words': 88})
223811
actual: jehoram   pred: joram
Counter({True: 15915, False: 716, 'multiple words': 88})
224189
actual: arameans   pred: jezreel
Counter({True: 15957, False: 717, 'multiple words': 91})

224587
actual: jerusalem   pred: megiddo
Counter({True: 16002, False: 718, 'multiple words': 91})
225199
actual: recab   pred: chariot
Counter({True: 16038, False: 719, 'multiple words': 92})
225671
actual: israelites   pred: israel
Counter({True: 16088, False: 720, 'multiple words': 92})
225684
actual: gad   pred: manasseh
Counter({True: 16090, False: 721, 'multiple words': 92})
225687
actual: reuben   pred: the
Counter({True: 16090, False: 722, 'multiple words': 92})
225690
actual: manasseh   pred: the
Counter({True: 16090, False: 723, 'multiple words': 92})
225864
actual: lord   pred: temple
Counter({True: 16112, False: 724, 'multiple words': 92})
225876
actual: lord   pred: temple
Counter({True: 16112, False: 725, 'multiple words': 92})
225991
actual: jehoiada   pred: ordered
Counter({True: 16112, False: 726, 'multiple words': 92})
226010
actual: jehoiada   pred: to
Counter({True: 16112, False: 727, 'multiple words': 92})
226036
actual: lord   pred: temple
Counter({True: 16112, False: 728, 'multiple words': 92})
226202
actual: lord   pred: temple
Counter({True: 16116, False: 729, 'multiple words': 92})
226300
actual: carites   pred: lord
Counter({True: 16123, False: 730, 'multiple words': 92})
226574
actual: lord   pred: temple
Counter({True: 16140, False: 731, 'multiple words': 92})
226591
actual: lord   pred: temple
Counter({True: 16140, False: 732, 'multiple words': 92})
226655
actual: lord   pred: temple
Counter({True: 16141, False: 733, 'multiple words': 92})
226874
actual: shimeath   pred: murdered
Counter({True: 16162, False: 734, 'multiple words': 92})
227008
actual: israelites   pred: israel
Counter({True: 16189, False: 735, 'multiple words': 92})
227301
actual: arameans   pred: aram
Counter({True: 16230, False: 736, 'multiple words': 92})
227363
actual: moabite   pred: the
Counter({True: 16233, False: 737, 'multiple words': 92})
227498
actual: israelite   pred: the
Counter({True: 16250, False: 738, 'multiple words': 92})
227503
actual: jehoash   pred: joash
Counter({True: 16250, False: 739, 'multiple words': 92})
227505
actual: jehoahaz   pred: of
Counter({True: 16250, False: 740, 'multiple words': 92})
227798
actual: joash   pred: jehoash
Counter({True: 16285, False: 741, 'multiple words': 92})
228029
actual: jehoash   pred: joash
Counter({True: 16319, False: 742, 'multiple words': 92})
228490
actual: tiphsah   pred: starting
Counter({True: 16394, False: 743, 'multiple words': 92})
229080
actual: israelites   pred: israel
Counter({True: 16494, False: 744, 'multiple words': 92})
229167
actual: vassal   pred: are
Counter({True: 16507, False: 745, 'multiple words': 93})
229248
actual: damascus   pred: tiglathpileser
Counter({True: 16518, False: 746, 'multiple words': 93})
229639
actual: so   pred: envoys
Counter({True: 16551, False: 747, 'multiple words': 93})
230089
actual: lord   pred: the
Counter({True: 16597, False: 748, 'multiple words': 93})
230156
actual: avva   pred: sepharvaim
Counter({True: 16605, False: 749, 'multiple words': 93})
230319
actual: samaria   pred: shrines
Counter({True: 16616, False: 750, 'multiple words': 93})
230352
actual: nibhaz   pred: tartak
Counter({True: 16622, False: 751, 'multiple words': 93})
230355
actual: tartak   pred: sepharvites
Counter({True: 16622, False: 752, 'multiple words': 93})
230358
actual: sepharvites   pred: sepharvaim
Counter({True: 16622, False: 753, 'multiple words': 93})
230665
actual: abijah   pred: his
Counter({True: 16643, False: 754, 'multiple words': 93})
231047
actual: washerman   pred: field
Counter({True: 16703, False: 755, 'multiple words': 93})
231795
actual: cushite   pred: tirhakah
Counter({True: 16770, False: 756, 'multiple words': 96})
232396
actual: assyrian   pred: to
Counter({True: 16817, False: 757, 'multiple words': 97})
232431
actual: nisroch   pred: worshiping
Counter({True: 16820, False: 758, 'multiple words': 97})
232437
actual: sharezer   pred: adrammelech
Counter({True: 16821, False: 759, 'multiple words': 97})
233470
actual: meshullemeth   pred: haruz
Counter({True: 16917, False: 760, 'multiple words': 98})
233658
actual: azaliah   pred: shaphan
Counter({True: 16938, False: 761, 'multiple words': 98})
233714
actual: lord   pred: temple
Counter({True: 16942, False: 762, 'multiple words': 98})
233887
actual: micaiah   pred: shaphan
Counter({True: 16955, False: 763, 'multiple words': 98})
233972
actual: tikvah   pred: shallum
Counter({True: 16967, False: 764, 'multiple words': 98})
233974
actual: harhas   pred: tikvah
Counter({True: 16967, False: 765, 'multiple words': 98})
234646
actual: ashtoreth   pred: goddess
Counter({True: 17013, False: 766, 'multiple words': 99})
234647
actual: vile goddess   pred: detestable
Counter({True: 17013, False: 766, 'multiple words': 100})
235125
actual: neco   pred: pharaoh
Counter({True: 17054, False: 767, 'multiple words': 101})
235231
actual: neco   pred: riblah
Counter({True: 17071, False: 768, 'multiple words': 101})
235256
actual: neco   pred: eliakim
Counter({True: 17074, False: 769, 'multiple words': 101})
235324
actual: neco   pred: assessments
Counter({True: 17082, False: 770, 'multiple words': 101})
235399
actual: moabite   pred: the
Counter({True: 17094, False: 771, 'multiple words': 101})
236418
actual: jaazaniah   pred: netophathite
Counter({True: 17203, False: 772, 'multiple words': 101})
236631
actual: shem   pred: the
Counter({True: 17229, False: 773, 'multiple words': 102})
236641
actual: madai   pred: gomer
Counter({True: 17234, False: 774, 'multiple words': 102})
236673
actual: put   pred: mizraim
Counter({True: 17250, False: 775, 'multiple words': 102})
236711
actual: ludites   pred: mizraim
Counter({True: 17261, False: 776, 'multiple words': 102})
236714
actual: anamites   pred: ludites
Counter({True: 17261, False: 777, 'multiple words': 102})
236717
actual: lehabites   pred: anamites
Counter({True: 17261, False: 778, 'multiple words': 102})
236723
actual: pathrusites   pred: casluhites
Counter({True: 17262, False: 779, 'multiple words': 102})
236776
actual: zemarites   pred: hamathites
Counter({True: 17275, False: 780, 'multiple words': 102})
236782
actual: shem   pred: the
Counter({True: 17276, False: 781, 'multiple words': 102})
236836
actual: almodad   pred: joktan
Counter({True: 17291, False: 782, 'multiple words': 102})
236839
actual: sheleph   pred: almodad
Counter({True: 17291, False: 783, 'multiple words': 102})
236842
actual: hazarmaveth   pred: sheleph
Counter({True: 17291, False: 784, 'multiple words': 102})
236910
actual: hadad   pred: massa
Counter({True: 17322, False: 785, 'multiple words': 102})
236954
actual: abida   pred: eldaah
Counter({True: 17342, False: 786, 'multiple words': 102})
236986
actual: zepho   pred: omar
Counter({True: 17358, False: 787, 'multiple words': 102})
237012
actual: dishon   pred: dishan
Counter({True: 17370, False: 788, 'multiple words': 102})
237014
actual: ezer   pred: dishan
Counter({True: 17370, False: 789, 'multiple words': 102})
237020
actual: hori   pred: lotan
Counter({True: 17372, False: 790, 'multiple words': 102})
237049
actual: hemdan   pred: dishon
Counter({True: 17386, False: 791, 'multiple words': 102})
237051
actual: eshban   pred: hemdan
Counter({True: 17386, False: 792, 'multiple words': 102})
237057
actual: ezer   pred: dishan
Counter({True: 17388, False: 793, 'multiple words': 102})
237082
actual: israelite   pred: the
Counter({True: 17395, False: 794, 'multiple words': 102})
237124
actual: bedad   pred: midian
Counter({True: 17407, False: 795, 'multiple words': 102})
237183
actual: pau   pred: hadad
Counter({True: 17420, False: 796, 'multiple words': 102})
237188
actual: mehetabel   pred: matred
Counter({True: 17420, False: 797, 'multiple words': 102})
237220
actual: magdiel   pred: iram
Counter({True: 17432, False: 798, 'multiple words': 102})
237244
actual: asher   pred: and
Counter({True: 17446, False: 799, 'multiple words': 102})
237391
actual: raddai   pred: the
Counter({True: 17494, False: 800, 'multiple words': 102})
237401
actual: zeruiah   pred: sisters
Counter({True: 17496, False: 801, 'multiple words': 102})
237407
actual: zeruiah   pred: sons
Counter({True: 17496, False: 802, 'multiple words': 102})
237410
actual: joab   pred: and
Counter({True: 17496, False: 803, 'multiple words': 102})
237424
actual: jether   pred: of
Counter({True: 17498, False: 804, 'multiple words': 102})

237653
actual: jether   pred: of
Counter({True: 17568, False: 805, 'multiple words': 103})
237658
actual: jether   pred: of
Counter({True: 17569, False: 806, 'multiple words': 103})
237835
actual: regem   pred: jahdai
Counter({True: 17628, False: 807, 'multiple words': 103})
237860
actual: sheva   pred: madmannah
Counter({True: 17637, False: 808, 'multiple words': 103})
237862
actual: macbenah   pred: sheva
Counter({True: 17637, False: 809, 'multiple words': 103})
237865
actual: gibea   pred: macbenah
Counter({True: 17637, False: 810, 'multiple words': 103})
237910
actual: puthites   pred: ithrites
Counter({True: 17647, False: 811, 'multiple words': 103})
237946
actual: shimeathites   pred: tirathites
Counter({True: 17657, False: 812, 'multiple words': 103})
237971
actual: amnon   pred: hebron
Counter({True: 17663, False: 813, 'multiple words': 103})
238054
actual: elishua   pred: ibhar
Counter({True: 17684, False: 814, 'multiple words': 105})
238164
actual: shenazzar   pred: jekamiah
Counter({True: 17721, False: 815, 'multiple words': 105})
238186
actual: hashubah   pred: were
Counter({True: 17731, False: 816, 'multiple words': 105})
238188
actual: ohel   pred: five
Counter({True: 17731, False: 817, 'multiple words': 105})
238192
actual: hasadiah   pred: ohel
Counter({True: 17732, False: 818, 'multiple words': 105})
238239
actual: hodaviah   pred: elioenai
Counter({True: 17751, False: 819, 'multiple words': 105})
238249
actual: delaiah   pred: johanan
Counter({True: 17755, False: 820, 'multiple words': 105})
238251
actual: anani   pred: johanan
Counter({True: 17755, False: 821, 'multiple words': 105})
238335
actual: temeni   pred: haahashtari
Counter({True: 17784, False: 822, 'multiple words': 105})
238339
actual: haahashtari   pred: naarah
Counter({True: 17784, False: 823, 'multiple words': 105})
238425
actual: shuhah   pred: mehir
Counter({True: 17795, False: 824, 'multiple words': 105})
238443
actual: tehinnah   pred: ir
Counter({True: 17799, False: 825, 'multiple words': 105})
238459
actual: hathath   pred: meonothai
Counter({True: 17804, False: 826, 'multiple words': 105})
238501
actual: ezrah   pred: the
Counter({True: 17820, False: 827, 'multiple words': 106})
238502
actual: jether   pred: of
Counter({True: 17820, False: 828, 'multiple words': 106})
238506
actual: epher   pred: jalon
Counter({True: 17821, False: 829, 'multiple words': 106})
238525
actual: judean   pred: jered
Counter({True: 17826, False: 830, 'multiple words': 106})
238528
actual: jered   pred: the
Counter({True: 17826, False: 831, 'multiple words': 106})
238538
actual: jekuthiel   pred: soco
Counter({True: 17829, False: 832, 'multiple words': 106})
238575
actual: ishi   pred: sons
Counter({True: 17841, False: 833, 'multiple words': 106})
238576
actual: zoheth   pred: ishi
Counter({True: 17841, False: 834, 'multiple words': 106})
238764
actual: baalath   pred: the
Counter({True: 17880, False: 835, 'multiple words': 107})
238774
actual: meshobab   pred: jamlech
Counter({True: 17880, False: 836, 'multiple words': 107})
238776
actual: jamlech   pred: joshah
Counter({True: 17880, False: 837, 'multiple words': 107})
238786
actual: joshibiah   pred: seraiah
Counter({True: 17884, False: 838, 'multiple words': 107})
238796
actual: jeshohaiah   pred: jaakobah
Counter({True: 17888, False: 839, 'multiple words': 107})
239042
actual: assyria   pred: the
Counter({True: 17930, False: 840, 'multiple words': 107})
239168
actual: sheba   pred: seven
Counter({True: 17952, False: 841, 'multiple words': 107})
239170
actual: jorai   pred: jacan
Counter({True: 17952, False: 842, 'multiple words': 107})
239172
actual: jacan   pred: zia
Counter({True: 17952, False: 843, 'multiple words': 107})
239632
actual: gershon   pred: levi
Counter({True: 18066, False: 844, 'multiple words': 107})
239913
actual: gershon   pred: levi
Counter({True: 18157, False: 845, 'multiple words': 107})
239940
actual: bani   pred: the
Counter({True: 18167, False: 846, 'multiple words': 107})
240209
actual: asher   pred: the
Counter({True: 18209, False: 847, 'multiple words': 107})
240385
actual: gershonites   pred: of
Counter({True: 18230, False: 848, 'multiple words': 107})
240425
actual: ramoth   pred: anem
Counter({True: 18236, False: 849, 'multiple words': 107})
240440
actual: asher   pred: the
Counter({True: 18237, False: 850, 'multiple words': 107})
240504
actual: rimmono   pred: received
Counter({True: 18246, False: 851, 'multiple words': 107})
240599
actual: puah   pred: jashub
Counter({True: 18261, False: 852, 'multiple words': 107})
240615
actual: ibsam   pred: jahmai
Counter({True: 18268, False: 853, 'multiple words': 107})
240740
actual: joash   pred: zemirah
Counter({True: 18291, False: 854, 'multiple words': 107})
240788
actual: kenaanah   pred: ehud
Counter({True: 18305, False: 855, 'multiple words': 107})
240816
actual: shuppites   pred: huppites
Counter({True: 18309, False: 856, 'multiple words': 107})
240818
actual: huppites   pred: ir
Counter({True: 18309, False: 857, 'multiple words': 107})
240820
actual: ir   pred: hushites
Counter({True: 18309, False: 858, 'multiple words': 107})
240832
actual: shillem   pred: descendants
Counter({True: 18315, False: 859, 'multiple words': 107})
240843
actual: aramean   pred: concubine
Counter({True: 18318, False: 860, 'multiple words': 107})
240857
actual: shuppites   pred: huppites
Counter({True: 18322, False: 861, 'multiple words': 107})
240924
actual: ahian   pred: shemida
Counter({True: 18340, False: 862, 'multiple words': 107})
241080
actual: naaran   pred: joshua
Counter({True: 18364, False: 863, 'multiple words': 107})
241129
actual: asher   pred: the
Counter({True: 18373, False: 864, 'multiple words': 107})
241184
actual: aram   pred: hubbah
Counter({True: 18394, False: 865, 'multiple words': 107})
241189
actual: helem   pred: sons
Counter({True: 18394, False: 866, 'multiple words': 107})
241201
actual: suah   pred: zophah
Counter({True: 18398, False: 867, 'multiple words': 107})
241203
actual: harnepher   pred: zophah
Counter({True: 18398, False: 868, 'multiple words': 107})
241223
actual: jether   pred: of
Counter({True: 18407, False: 869, 'multiple words': 107})
241231
actual: ulla   pred: of
Counter({True: 18410, False: 870, 'multiple words': 107})
241240
actual: asher   pred: the
Counter({True: 18413, False: 871, 'multiple words': 107})
241353
actual: hushim   pred: divorced
Counter({True: 18439, False: 872, 'multiple words': 107})
241356
actual: baara   pred: hushim
Counter({True: 18439, False: 873, 'multiple words': 107})
241369
actual: zibia   pred: jobab
Counter({True: 18441, False: 874, 'multiple words': 107})
241372
actual: mesha   pred: zibia
Counter({True: 18441, False: 875, 'multiple words': 107})
241378
actual: jeuz   pred: sakia
Counter({True: 18442, False: 876, 'multiple words': 107})
241381
actual: sakia   pred: mirmah
Counter({True: 18442, False: 877, 'multiple words': 107})
241447
actual: ishpah   pred: joha
Counter({True: 18461, False: 878, 'multiple words': 107})
241449
actual: joha   pred: sons
Counter({True: 18461, False: 879, 'multiple words': 107})
241461
actual: ishmerai   pred: izliah
Counter({True: 18466, False: 880, 'multiple words': 107})
241463
actual: izliah   pred: jobab
Counter({True: 18466, False: 881, 'multiple words': 107})
241483
actual: beraiah   pred: shimrath
Counter({True: 18475, False: 882, 'multiple words': 107})
241485
actual: shimrath   pred: sons
Counter({True: 18475, False: 883, 'multiple words': 107})
241509
actual: sons   pred: penuel
Counter({True: 18485, False: 884, 'multiple words': 107})
241510
actual: shashak   pred: sons
Counter({True: 18485, False: 885, 'multiple words': 107})
241572
actual: shimeah   pred: mikloth
Counter({True: 18505, False: 886, 'multiple words': 107})
241609
actual: esh-baal   pred: eshbaal
Counter({True: 18513, False: 887, 'multiple words': 107})
241626
actual: melech   pred: of
Counter({True: 18517, False: 888, 'multiple words': 107})
241795
actual: son   pred: perez
Counter({True: 18561, False: 889, 'multiple words': 107})
241811
actual: zerahites   pred: jeuel
Counter({True: 18563, False: 890, 'multiple words': 107})
241849
actual: ibnijah   pred: ibneiah
Counter({True: 18577, False: 891, 'multiple words': 107})
241905
actual: maasai   pred: adiel
Counter({True: 18590, False: 892, 'multiple words': 107})

241909
actual: jahzerah   pred: son
Counter({True: 18591, False: 893, 'multiple words': 107})
241915
actual: immer   pred: of
Counter({True: 18593, False: 894, 'multiple words': 107})
241952
actual: bakbakkar   pred: heresh
Counter({True: 18599, False: 895, 'multiple words': 107})
241953
actual: heresh   pred: galal
Counter({True: 18599, False: 896, 'multiple words': 107})
241990
actual: talmon   pred: ahiman
Counter({True: 18614, False: 897, 'multiple words': 107})
242066
actual: meshelemiah   pred: gatekeeper
Counter({True: 18627, False: 898, 'multiple words': 107})
242256
actual: levite   pred: the
Counter({True: 18634, False: 899, 'multiple words': 107})
242400
actual: esh-baal   pred: eshbaal
Counter({True: 18662, False: 900, 'multiple words': 107})
242417
actual: melech   pred: of
Counter({True: 18666, False: 901, 'multiple words': 107})
242486
actual: israelites   pred: israel
Counter({True: 18690, False: 902, 'multiple words': 107})
243413
actual: tekoa   pred: ikkesh
Counter({True: 18796, False: 903, 'multiple words': 109})
243516
actual: reubenite   pred: reubenites
Counter({True: 18858, False: 904, 'multiple words': 109})
243540
actual: aroerite   pred: the
Counter({True: 18865, False: 905, 'multiple words': 109})
243627
actual: sons   pred: pelet
Counter({True: 18890, False: 906, 'multiple words': 109})
243628
actual: azmaveth   pred: sons
Counter({True: 18890, False: 907, 'multiple words': 109})
243630
actual: beracah   pred: the
Counter({True: 18890, False: 908, 'multiple words': 109})
243632
actual: jehu   pred: the
Counter({True: 18890, False: 909, 'multiple words': 109})
243634
actual: anathothite   pred: the
Counter({True: 18890, False: 910, 'multiple words': 109})
243637
actual: ishmaiah   pred: the
Counter({True: 18890, False: 911, 'multiple words': 109})
243639
actual: gibeonite   pred: the
Counter({True: 18890, False: 912, 'multiple words': 109})
243884
actual: jesse   pred: son
Counter({True: 18930, False: 913, 'multiple words': 109})
243958
actual: adnah   pred: defected
Counter({True: 18938, False: 914, 'multiple words': 109})
244214
actual: dan   pred: men
Counter({True: 18967, False: 915, 'multiple words': 109})
244226
actual: asher   pred: of
Counter({True: 18967, False: 916, 'multiple words': 109})
244242
actual: reuben   pred: the
Counter({True: 18967, False: 917, 'multiple words': 109})
244245
actual: gad   pred: manasseh
Counter({True: 18967, False: 918, 'multiple words': 109})
244282
actual: israelites   pred: israel
Counter({True: 18971, False: 919, 'multiple words': 109})
245312
actual: jaaziel   pred: rank
Counter({True: 19099, False: 920, 'multiple words': 110})
245327
actual: eliphelehu   pred: mikneiah
Counter({True: 19106, False: 921, 'multiple words': 110})
245352
actual: aziel   pred: shemiramoth
Counter({True: 19112, False: 922, 'multiple words': 110})
245372
actual: eliphelehu   pred: mikneiah
Counter({True: 19119, False: 923, 'multiple words': 110})
245393
actual: levite   pred: the
Counter({True: 19123, False: 924, 'multiple words': 110})
245412
actual: shebaniah   pred: joshaphat
Counter({True: 19125, False: 925, 'multiple words': 110})
245439
actual: jehiah   pred: doorkeepers
Counter({True: 19131, False: 926, 'multiple words': 110})
245628
actual: israelite   pred: of
Counter({True: 19150, False: 927, 'multiple words': 110})
247037
actual: tebah   pred: cun
Counter({True: 19267, False: 928, 'multiple words': 110})
247102
actual: hadadezer   pred: in
Counter({True: 19278, False: 929, 'multiple words': 110})
247110
actual: brought   pred: tou
Counter({True: 19278, False: 930, 'multiple words': 110})
247111
actual: hadoram   pred: had
Counter({True: 19278, False: 931, 'multiple words': 110})
247178
actual: edomites   pred: edom
Counter({True: 19289, False: 932, 'multiple words': 111})
247309
actual: ammonite   pred: hanun
Counter({True: 19317, False: 933, 'multiple words': 111})
247882
actual: sippai   pred: hushathite
Counter({True: 19385, False: 934, 'multiple words': 111})
247901
actual: lahmi   pred: goliath
Counter({True: 19387, False: 935, 'multiple words': 111})
249328
actual: shelomoth   pred: haziel
Counter({True: 19547, False: 936, 'multiple words': 111})
249919
actual: seorim   pred: the
Counter({True: 19650, False: 937, 'multiple words': 111})
249943
actual: shecaniah   pred: tenth
Counter({True: 19654, False: 938, 'multiple words': 111})
249955
actual: huppah   pred: thirteenth
Counter({True: 19656, False: 939, 'multiple words': 111})
249959
actual: jeshebeab   pred: fourteenth
Counter({True: 19656, False: 940, 'multiple words': 111})
249967
actual: immer   pred: to
Counter({True: 19657, False: 941, 'multiple words': 111})
249984
actual: jehezkel   pred: twentieth
Counter({True: 19659, False: 942, 'multiple words': 111})
250003
actual: maaziah   pred: twentyfourth
Counter({True: 19662, False: 943, 'multiple words': 111})
250066
actual: amariah   pred: jeriah
Counter({True: 19677, False: 944, 'multiple words': 111})
250105
actual: shoham   pred: and
Counter({True: 19693, False: 945, 'multiple words': 111})
250223
actual: asarelah   pred: asaph
Counter({True: 19717, False: 946, 'multiple words': 111})
250241
actual: zeri   pred: his
Counter({True: 19721, False: 947, 'multiple words': 111})
250656
actual: kore   pred: the
Counter({True: 19770, False: 948, 'multiple words': 111})
250898
actual: shuppim   pred: lots
Counter({True: 19806, False: 949, 'multiple words': 113})
250989
actual: gershonites   pred: gershonite
Counter({True: 19812, False: 950, 'multiple words': 113})
251182
actual: jeriah   pred: hebronites
Counter({True: 19844, False: 951, 'multiple words': 113})
251238
actual: manasseh   pred: pertaining
Counter({True: 19850, False: 952, 'multiple words': 113})
251454
actual: tekoite   pred: ikkesh
Counter({True: 19867, False: 953, 'multiple words': 113})
251475
actual: ephraimite   pred: the
Counter({True: 19869, False: 954, 'multiple words': 113})
251518
actual: division   pred: benjamite
Counter({True: 19872, False: 955, 'multiple words': 113})
251560
actual: ephraimite   pred: the
Counter({True: 19876, False: 956, 'multiple words': 113})
251638
actual: ephraimites   pred: the
Counter({True: 19901, False: 957, 'multiple words': 113})
251766
actual: ezri   pred: farmed
Counter({True: 19928, False: 958, 'multiple words': 113})
251775
actual: ramathite   pred: shiphmite
Counter({True: 19930, False: 959, 'multiple words': 113})
251788
actual: shiphmite   pred: vats
Counter({True: 19931, False: 960, 'multiple words': 113})
251803
actual: gederite   pred: joash
Counter({True: 19931, False: 961, 'multiple words': 113})
251809
actual: joash   pred: olive
Counter({True: 19931, False: 962, 'multiple words': 113})
251819
actual: shitrai   pred: sharon
Counter({True: 19931, False: 963, 'multiple words': 113})
251821
actual: sharonite   pred: adlai
Counter({True: 19931, False: 964, 'multiple words': 113})
251831
actual: adlai   pred: valleys
Counter({True: 19932, False: 965, 'multiple words': 113})
251836
actual: obil   pred: ishmaelite
Counter({True: 19932, False: 966, 'multiple words': 113})
251838
actual: ishmaelite   pred: meronothite
Counter({True: 19932, False: 967, 'multiple words': 113})
251845
actual: meronothite   pred: donkeys
Counter({True: 19933, False: 968, 'multiple words': 113})
251850
actual: jaziz   pred: hagrite
Counter({True: 19933, False: 969, 'multiple words': 113})
251852
actual: hagrite   pred: flocks
Counter({True: 19933, False: 970, 'multiple words': 113})

KeyboardInterrupt:

In [786]:
line = 236711

In [787]:
gold_data.iloc[line-8: line+8, [0, 1, 2, 3, 4, 5, 10,11, 32]]

,index,book,chapter,verse,word,subword,text,lemma,NIV84
236703,236703,1CH,1,10,8,1,,1368,mighty warrior
236704,236704,1CH,1,10,9,1,,b,None
236705,236705,1CH,1,10,9,1,None,d,None
236706,236706,1CH,1,10,9,2,,776,None
236707,236707,1CH,1,11,1,1,,c,None
236708,236708,1CH,1,11,1,2,,4714,Mizraim
236709,236709,1CH,1,11,2,1,,3205,was the father
236710,236710,1CH,1,11,3,1,,853,None
236711,236711,1CH,1,11,5,1,,3866,Ludites
236712,236712,1CH,1,11,6,1,,c,None
236713,236713,1CH,1,11,6,2,,853,None
236714,236714,1CH,1,11,7,1,,6047,Anamites
236715,236715,1CH,1,11,8,1,,c,None
236716,236716,1CH,1,11,8,2,,853,None
236717,236717,1CH,1,11,9,1,,3853,Lehabites
236718,236718,1CH,1,11,10,1,,c,None

In [788]:
word = bible_df.loc[line, ['text']].values[0]
hebrew_source_normalized = normalize_word(word)
book = bible_df.loc[line, ['book']].values[0]
chapter = bible_df.loc[line, ['chapter']].values[0]
verse = bible_df.loc[line, ['verse']].values[0]
ref = f'{book} {chapter}:{verse}\n'
vref_index = vref_data.index(ref)

def normalize_word(word):
    return re.sub("[^\w\s]", "", word.lower()) if word else ''

candidate_words = set(NIV84_df.loc[vref_index, 'words']) if vref_index in NIV84_df.index else set([])
candidate_words = [word.lower().split("")[0] for word in candidate_words if word is not None]
candidate_words

['',
 'was',
 'ludites',
 'naphtuhites',
 'father',
 'the',
 'mizraim',
 'anamites',
 'lehabites',
 'of']

In [789]:
vref_index

10266

In [795]:
candidate_df = model_df[model_df['normalized_target'] == hebrew_source_normalized]
candidate_df

,Unnamed: 0,source,target,align_count,word score,normalized_source,normalized_target,jac_sim,match_counts,total_score
44101,44101,father,,2,0.902797,father,,0.000000,0,0.902797
79838,79838,lydia,,1,0.701462,lydia,,0.200000,1,1.701462
84643,84643,mizraim,,2,0.114203,mizraim,,0.333333,2,1.780869

In [791]:
all_df[all_df['target'] == word].sort_values('word score', ascending=False)

         Unnamed: 0       vref       source    target    word score
125107       125107  GEN 10:13       father    9.027971e-01
6747034     6747034   1CH 1:11       father    9.027971e-01
125065       125065  GEN 10:13      mizraim    1.142026e-01
6746992     6746992   1CH 1:11      mizraim    1.142026e-01
125135       125135  GEN 10:13          the    1.302155e-05
6747020     6747020   1CH 1:11          the    1.302155e-05
125093       125093  GEN 10:13          the    1.302155e-05
6747062     6747062   1CH 1:11          the    1.302155e-05
125121       125121  GEN 10:13           of    1.252464e-44
125149       125149  GEN 10:13      ludites    1.252464e-44
125163       125163  GEN 10:13     anamites    1.252464e-44
125177       125177  GEN 10:13    lehabites    1.252464e-44
125191       125191  GEN 10:13  naphtuhites    1.252464e-44
125079       125079  GEN 10:13          was    1.252464e-44
6747006     6747006   1CH 1:11          was    1.252464e-44
6747048     6747048   1CH 1:11           of    1.252464e-44
6747076     6747076   1CH 1:11      ludites    1.252464e-44
6747090     6747090   1CH 1:11     anamites    1.252464e-44
6747104     6747104   1CH 1:11    lehabites    1.252464e-44
6747118     6747118   1CH 1:11  naphtuhites    1.252464e-44

In [792]:
candidate_df[candidate_df.apply(lambda x: x['normalized_source'] in list(candidate_words), axis=1)].sort_values('total_score', ascending=False)

,Unnamed: 0,source,target,align_count,word score,normalized_source,normalized_target,jac_sim,match_counts,total_score
84643,84643,mizraim,,2,0.114203,mizraim,,0.333333,2,1.780869
44101,44101,father,,2,0.902797,father,,0.000000,0,0.902797

Total number of names:

In [796]:
word

''

In [603]:
df[df['source'] == 'shemeber']

,Unnamed: 0,source,target,align_count,word score,verse score,normalized_source,normalized_target,jac_sim,match_counts,total_score
80989,80989,shemeber,,1,0.78108,0.330563,shemeber,,-1.0,0,-0.78108

Number of matched names:

In [633]:
vref_index

464

In [243]:
df[df['target'] == '']

,Unnamed: 0,source,target,align_count,word score,verse score,normalized_source,normalized_target,jac_sim,match_counts,total_score
26110,26110,eden,,2,0.799089,0.322273,eden,,0.818182,18,3.79264

In [244]:
matched_names['predicted'] = matched_names['text'].progress_apply(lambda x: df.loc[df[df['target'] == x]['total_score'].idxmax()]['source'])

100%|| 32282/32282 [06:18<00:00, 85.21it/s]

In [245]:
matched_names

,book,chapter,verse,word,subword,id,marble,ot-nt,unicode,text,lemma,normalized,english,greek,predicted
774,GEN,2,4,8,1,o010020040081,00100200400026,OT,,,3068,None,lord,None,lord
799,GEN,2,5,15,1,o010020050151,00100200500042,OT,,,3068,None,lord,None,lord
827,GEN,2,7,2,1,o010020070021,00100200700006,OT,,,3068,None,lord,None,lord
852,GEN,2,8,2,1,o010020080021,00100200800006,OT,,,3068,None,lord,,lord
856,GEN,2,8,5,2,o010020080052,00100200800014,OT,,,5731 b,None,eden,,eden
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475752,MAL,3,21,14,1,o390030210141,03900302100034,OT,,,3068,None,lord,,lord
475756,MAL,3,22,3,1,o390030220031,03900302200006,OT,,,4872,None,moses,,moses
475767,MAL,3,22,11,1,o390030220111,03900302200024,OT,,,3478,None,israel,,israel
475777,MAL,3,23,6,1,o390030230061,03900302300012,OT,,,452,None,elijah,,elijah
475784,MAL,3,23,11,1,o390030230111,03900302300026,OT,,,3068,None,lord,,lord

In [246]:
def is_word_correct(row):
    word = row['english'].split("")[0] if row['english'] is not None else ''
    return word == row['predicted']

In [247]:
matched_names[matched_names.apply(is_word_correct, axis=1)]

,book,chapter,verse,word,subword,id,marble,ot-nt,unicode,text,lemma,normalized,english,greek,predicted
774,GEN,2,4,8,1,o010020040081,00100200400026,OT,,,3068,None,lord,None,lord
799,GEN,2,5,15,1,o010020050151,00100200500042,OT,,,3068,None,lord,None,lord
827,GEN,2,7,2,1,o010020070021,00100200700006,OT,,,3068,None,lord,None,lord
852,GEN,2,8,2,1,o010020080021,00100200800006,OT,,,3068,None,lord,,lord
856,GEN,2,8,5,2,o010020080052,00100200800014,OT,,,5731 b,None,eden,,eden
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475752,MAL,3,21,14,1,o390030210141,03900302100034,OT,,,3068,None,lord,,lord
475756,MAL,3,22,3,1,o390030220031,03900302200006,OT,,,4872,None,moses,,moses
475767,MAL,3,22,11,1,o390030220111,03900302200024,OT,,,3478,None,israel,,israel
475777,MAL,3,23,6,1,o390030230061,03900302300012,OT,,,452,None,elijah,,elijah
475784,MAL,3,23,11,1,o390030230111,03900302300026,OT,,,3068,None,lord,,lord

In [248]:
matched_names[~matched_names.apply(is_word_correct, axis=1)].head(100)

,book,chapter,verse,word,subword,id,marble,ot-nt,unicode,text,lemma,normalized,english,greek,predicted
1591,GEN,3,17,1,3,o010030170013,00100301700006,OT,,,121,None,adam,,man
1682,GEN,3,21,4,2,o010030210042,00100302100012,OT,,,120,None,adam,,of
1809,GEN,4,2,11,2,o010040020112,00100400200030,OT,,,7014 b,None,cain,,tiller
1845,GEN,4,4,11,1,o010040040111,00100400400032,OT,,,1893,None,abel,,vanity
1927,GEN,4,8,12,1,o010040080121,00100400800036,OT,,,1893,None,abel,,futility
2114,GEN,4,18,2,2,o010040180022,00100401800008,OT,,,2585,None,enoch,,hanoch
2198,GEN,4,23,4,1,o010040230041,00100402300012,OT,,,5711,None,adah,,zillah
2231,GEN,4,25,2,1,o010040250021,00100402500006,OT,,,121,None,adam,,man
2270,GEN,4,26,9,1,o010040260091,00100402600024,OT,,,583,None,enosh,,man
2281,GEN,5,1,4,1,o010050010041,00100500100008,OT,,,121,None,adam,,man
2314,GEN,5,3,2,1,o010050030021,00100500300006,OT,,,121,None,adam,,man
2336,GEN,5,4,3,1,o010050040031,00100500400008,OT,,,121,None,adam,,man
2354,GEN,5,5,4,1,o010050050041,00100500500010,OT,,,121,None,adam,,man
2412,GEN,5,9,2,1,o010050090021,00100500900006,OT,,,583,None,enosh,,mortal
2777,GEN,5,32,10,1,o010050320101,00100503200024,OT,,,8035,None,shem,,name
2980,GEN,6,10,6,1,o010060100061,00100601000014,OT,,,8035,None,shem,,name
3519,GEN,7,13,6,2,o010070130062,00100701300020,OT,,,8035,None,shem,,name
4687,GEN,9,18,7,1,o010090180071,00100901800020,OT,,,8035,None,shem,,name
4750,GEN,9,23,2,1,o010090230021,00100902300006,OT,,,8035,None,shem,,name
4813,GEN,9,26,5,1,o010090260051,00100902600012,OT,,,8035,None,shem,,name
4816,GEN,9,26,7,1,o010090260071,00100902600018,OT,,,3667 a,None,canaan,,shem
4828,GEN,9,27,6,1,o010090270061,00100902700018,OT,,,8035,None,shem,,name
4831,GEN,9,27,8,1,o010090270081,00100902700024,OT,,,3667 a,None,canaan,,shem
4865,GEN,10,1,5,1,o010100010051,00101000100012,OT,,,8035,None,shem,,name
4879,GEN,10,2,3,1,o010100020031,00101000200006,OT,,,1586,None,gomer,,japheth
4883,GEN,10,2,5,2,o010100020052,00101000200014,OT,,,4074,None,madai,,gomer
4902,GEN,10,4,2,1,o010100040021,00101000400006,OT,,,3120,None,javan,,greece
4933,GEN,10,6,4,2,o010100060042,00101000600012,OT,,,4714,None,mizraim,,egypt
4935,GEN,10,6,5,2,o010100060052,00101000600016,OT,,,6316,None,put,,mizraim
4991,GEN,10,10,4,1,o010100100041,00101001000010,OT,,,894,None,babel,,babylon
4993,GEN,10,10,5,2,o010100100052,00101001000014,OT,,,751,None,erech,,slow
5042,GEN,10,13,8,1,o010100130081,00101001300022,OT,,,3853,None,lehabim,None,anam
5073,GEN,10,16,2,2,o010100160022,00101001600008,OT,,,2983,None,jebusites,,jebusite
5081,GEN,10,16,6,2,o010100160062,00101001600024,OT,,,1622,None,girgashites,,girgashite
5085,GEN,10,17,2,2,o010100170022,00101001700008,OT,,,2340,None,hivites,,hivite
5089,GEN,10,17,4,2,o010100170042,00101001700016,OT,,,6208,None,arkites,,arkite
5093,GEN,10,17,6,2,o010100170062,00101001700024,OT,,,5513,None,sinites,,sinite
5097,GEN,10,18,2,2,o010100180022,00101001800008,OT,,,721,None,arvadites,,arvadite
5101,GEN,10,18,4,2,o010100180042,00101001800016,OT,,,6786,None,zemarites,,hamathite
5111,GEN,10,18,10,2,o010100180102,00101001800036,OT,,,3669 a,None,canaanite,,tradesmen
5154,GEN,10,21,1,3,o010100210013,00101002100006,OT,,,8035,None,shem,,name
5167,GEN,10,22,2,1,o010100220021,00101002200004,OT,,,8035,None,shem,,name
5170,GEN,10,22,4,2,o010100220042,00101002200010,OT,,,804,None,asshur,,assyria
5193,GEN,10,24,5,2,o010100240052,00101002400014,OT,,,7974,None,shelah,,became
5226,GEN,10,26,6,1,o010100260061,00101002600016,OT,,,8026,None,sheleph,None,almodad
5229,GEN,10,26,8,1,o010100260081,00101002600022,OT,,,2700,None,hazarmaveth,,sheleph
5256,GEN,10,29,4,1,o010100290041,00101002900012,OT,,,2341,None,havilah,,jobab
5279,GEN,10,31,3,1,o010100310031,00101003100006,OT,,,8035,None,shem,,name
5483,GEN,11,9,5,1,o010110090051,00101100900010,OT,,,894,None,babel,,babylon
5505,GEN,11,10,3,1,o010110100031,00101101000006,OT,,,8035,None,shem,,name
5535,GEN,11,12,1,2,o010110120012,00101101200004,OT,,,775,None,arpachshad,,thirtyfive
5624,GEN,11,18,2,1,o010110180021,00101101800006,OT,,,6389,None,peleg,,thirty
5704,GEN,11,24,2,1,o010110240021,00101102400006,OT,,,5152,None,nahor,,twentynine
5939,GEN,12,4,9,1,o010120040091,00101200400024,OT,,,3876,None,lot,,lots
5955,GEN,12,5,2,1,o010120050021,00101200500006,OT,,,87,None,abram,,sarai
6348,GEN,13,3,3,2,o010130030032,00101300300012,OT,,,5045,None,negev,None,south
6434,GEN,13,7,10,1,o010130070101,00101300700024,OT,,,3876,None,lots,,lots
6440,GEN,13,7,12,3,o010130070123,00101300700036,OT,,,6522,None,perizzites,,perizzite
6604,GEN,13,14,19,2,o010130140192,00101301400048,OT,,,5045,None,south,None,southward
6705,GEN,14,1,14,1,o010140010141,00101400100034,OT,,,1471 b,None,goiim,,nations
6782,GEN,14,5,19,2,o010140050192,00101400500060,OT,,,7740,None,shaveh,,shavehkiriathaim
6859,GEN,14,9,7,1,o010140090071,00101400900016,OT,,,1471 b,None,goiim,,nations
6943,GEN,14,13,8,2,o010140130082,00101401300030,OT,,,436,None,oaks,,mamre
6946,GEN,14,13,10,2,o010140130102,00101401300036,OT,,,567,None,amorite,,amorites
7031,GEN,14,17,3,1,o010140170031,00101401700008,OT,,,5467,None,sodom,,defeat
7339,GEN,15,8,3,1,o010150080031,00101500800008,OT,,,3069,None,god,None,may
7548,GEN,15,19,2,2,o010150190022,00101501900006,OT,,,7017,None,kenites,,kenite
7552,GEN,15,19,4,2,o010150190042,00101501900014,OT,,,7074,None,kenizzites,,kenizzite
7556,GEN,15,19,6,2,o010150190062,00101501900022,OT,,,6935,None,kadmonites,,kadmonite
7560,GEN,15,20,2,2,o010150200022,00101502000008,OT,,,2850,None,hittites,,hittite
7564,GEN,15,20,4,2,o010150200042,00101502000016,OT,,,6522,None,perizzites,,perizzite
7580,GEN,15,21,6,2,o010150210062,00101502100024,OT,,,1622,None,girgashites,,girgashite
7584,GEN,15,21,8,2,o010150210082,00101502100032,OT,,,2983,None,jebusites,,jebusite
7597,GEN,16,1,9,1,o010160010091,00101600100022,OT,,,4713,None,egyptian,,maid
7637,GEN,16,3,7,2,o010160030072,00101600300018,OT,,,4713,None,egyptian,,abrams
8225,GEN,17,15,11,1,o010170150111,00101701500024,OT,,,8297,None,sarai,,princes
10066,GEN,19,37,9,1,o010190370091,00101903700024,OT,,,4124,None,moabites,,moab
10098,GEN,20,1,5,2,o010200010052,00102000100016,OT,,,5045,None,negev,,south
10777,GEN,21,14,20,1,o010210140201,00102101400064,OT,,,884+,None,None,None,beersheba
11122,GEN,21,31,6,1,o010210310061,00102103100018,OT,,,884+,None,None,None,beersheba
11276,GEN,22,4,4,1,o010220040041,00102200400016,OT,,,85,None,abraham,,raised
11645,GEN,22,19,9,1,o010220190091,00102201900024,OT,,,884+,None,None,None,beersheba
11651,GEN,22,19,13,2,o010220190132,00102201900036,OT,,,884+,None,None,None,beersheba
12055,GEN,23,16,2,1,o010230160021,00102301600006,OT,,,85,None,abraham,,ephron
12083,GEN,23,17,3,1,o010230170031,00102301700008,OT,,,6085,None,ephrons,,ephrons
12968,GEN,24,36,2,1,o010240360021,00102403600006,OT,,,8283,None,sarah,,masters
13241,GEN,24,47,11,1,o010240470111,00102404700028,OT,,,5152,None,nahor,,twentynine
13568,GEN,24,62,10,2,o010240620102,00102406200028,OT,,,5045,None,negev,None,south
13724,GEN,25,3,12,2,o010250030122,00102500300034,OT,,,3817,None,leummim,,peoples
13901,GEN,25,13,10,2,o010250130102,00102501300028,OT,,,6938,None,kedar,,nebaioth
13974,GEN,25,18,10,1,o010250180101,00102501800024,OT,,,804,None,asshur,,assyria
14008,GEN,25,20,12,2,o010250200122,00102502000032,OT,,,6307+,None,None,,aramean
14305,GEN,26,1,14,1,o010260010141,00102600100046,OT,,,40,None,abimelech,,gerar
14753,GEN,26,22,11,1,o010260220111,00102602200032,OT,,,7344,None,rehoboth,,squares
14771,GEN,26,23,3,1,o010260230031,00102602300010,OT,,,884+,None,None,None,beersheba
14837,GEN,26,26,5,2,o010260260052,00102602600016,OT,,,276,None,ahuzzath,,adviser
14980,GEN,26,33,3,1,o010260330031,00102603300008,OT,,,7656,None,shibah,,seven
14986,GEN,26,33,8,1,o010260330081,00102603300020,OT,,,884+,None,None,None,beersheba
15003,GEN,26,34,9,1,o010260340091,00102603400022,OT,,,3067,None,judith,,judean
16052,GEN,27,46,9,1,o010270460091,00102704600024,OT,,,2845,None,hittite,,heth

In [167]:
hebrew_names = set(hebrew_names)
hebrew_matched_names = set(hebrew_matched_names)
list(hebrew_names - hebrew_matched_names)

['',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 ...]

In [227]:
df[df['source'] == 'judith']

,Unnamed: 0,source,target,align_count,word score,verse score,normalized_source,normalized_target,jac_sim,match_counts,total_score
48917,48917,judith,,1,0.333115,0.380322,judith,,-1.0,0,-0.0
48918,48918,judith,,1,0.332959,0.380322,judith,,-1.0,0,-0.0

In [249]:
bible_df[bible_df['text'] == '']

,book,chapter,verse,word,subword,id,marble,ot-nt,unicode,text,lemma,normalized,english,greek,hebrew,mandarin,domain_codes,domains,sdbh_codes,top_domains
15003,GEN,26,34,9,1,o010260340091,00102603400022,OT,,,3067,None,Judith,,,,[003001007],[Names of People],[002822001001000],[003001]
231296,2KI,18,26,21,1,o120180260211,01201802600048,OT,,,3066,None,in Hebrew,,,,[003001009],[Names of Languages],[002820001001000],[003001]
366489,ISA,36,11,19,1,o230360110191,02303601100044,OT,,,3066,None,language of Judah,,,,[003001009],[Names of Languages],[002820001001000],[003001]

In [251]:
df[df['normalized_target'] == '']

,Unnamed: 0,source,target,align_count,word score,verse score,normalized_source,normalized_target,jac_sim,match_counts,total_score
10354,10354,beeri,,1,0.195174,0.380322,beeri,,0.125000,1,0.009279
48762,48762,judean,,2,0.570450,0.319680,judean,,0.571429,4,0.416827
48763,48763,judean,,2,0.523498,0.333000,judean,,0.571429,4,0.398457

In [229]:
bible_df[bible_df['english'] == 'Judith']

,book,chapter,verse,word,subword,id,marble,ot-nt,unicode,text,lemma,normalized,english,greek,hebrew,mandarin,domain_codes,domains,sdbh_codes,top_domains
15003,GEN,26,34,9,1,o010260340091,00102603400022,OT,,,3067,None,Judith,,,,[003001007],[Names of People],[002822001001000],[003001]

In [250]:
normalize_word('')

''

In [252]:
old_matched_names = matched_names